<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<div class="bookings" *ngIf="bookingsList">
    <p-table [value]="bookingsList" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="add_new" [routerLink]="['/add-booking']">
                <p-button icon="pi pi-plus"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>№</th>
                <th>Создана</th>
                <th>Статус</th>
                <th>Автомобиль</th>
                <th>Клиент</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Суток</th>
                <th>Выдача</th>
                <th>Прием</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-booking>
            <tr [routerLink]="['/show-booking',booking._id]">
                <td><strong>{{booking.order}}</strong></td>
                <td>{{booking.date | date : 'dd.MM.yyyy HH:mm'}}</td>
                <td>{{booking.status}}</td>
                <td>{{booking.car.marka}} {{booking.car.model}}({{booking.car.number}})</td>
                <td>{{booking.client}}</td>
                <td>{{booking.booking_start | date : 'dd.MM.yyyy HH:mm'}}</td>
                <td>{{booking.booking_end | date : 'dd.MM.yyyy HH:mm'}}</td>
                <td>{{booking.booking_days}}</td>
                <td>{{booking.place_start}}</td>
                <td>{{booking.place_end}}</td>
                
            
                <td style="cursor: pointer; text-align: center;" (click)="onDeleteBooking($event, booking)"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="bookingsList.length === 0" class="noMoreBookingsList">
        <h2>Нет броней...</h2>
    </div>

    <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreBookingsList | async)" (click)="loadmore()"></p-button>
    </div>
</div>