.bookings {
    padding: 0 20px;
}

.btn {
    margin-top: 20px;
}

.noMoreBookingsList {
    margin-top: 20px;
}

td {
    cursor: pointer;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

tr
{
    outline: none !important;
}

tr:hover
{
    background-color: #F8F9FA;
}

.xs_bookings_list_btns
{
    display: flex;
    align-items: center;
}

div.sort
{
    width: 140px;
    margin-left: 25px;
    color: #fff;
    border-radius: 4px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 300;
    opacity: 0.5;
}


div.sort:hover
{
    transition: all 0.3s;
    opacity: 0.6;
}
.sort_all
{
    background-color: #3B82F6 !important;
}


.sort_arenda
{
    background-color: #194A9E !important;
}

.sort_wait
{
    background-color: #FFA500 !important;
}

.sort_close
{
    background-color: #FF2400 !important;
}

.active_sort
{
    transform: scale(0.8);
    font-weight: 700 !important;
    opacity: 1 !important;
}

.grid
{
    display: flex;
    margin-left: 25px;
}

.filters_wrap   
{
    display: flex;
    align-items: center;
}

.filters_item
{
    margin-right: 22px;
}

.reset_filters
{
    margin-top: -2px;
}

.filters_item label
{
    font-weight: 400;
}

select
{
    color: #495057;
    background: #ffffff;
    padding: 0.75rem 0.75rem;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    margin-right: 15px;
    margin-top: 15px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin-right: 20px;
}

input {
    color: #495057;
    background: #ffffff;
    padding: 11px;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    margin-right: 15px;
    margin-top: 15px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    cursor: pointer;
    width: 200px !important;
}