.show-booking {
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    z-index: 1;
}




label {
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
}



fieldset {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.errorValidate {
    display: inline-block;
    color: #fff;
    padding-left: 0px;
    color: #FF2400;
    text-align: left;
    font-size: 12px;
    margin-right: 10px;
    position: absolute;
    top: 16px;
}


.dn {
    display: none;
}

select {
    color: #495057;
    background: #ffffff;
    padding: 0.75rem 0.75rem;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    margin-right: 15px;
    margin-top: 15px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
    cursor: pointer;
    width: 200px;
}

input {
    color: #495057;
    background: #ffffff;
    padding: 11px;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    margin-right: 15px;
    margin-top: 15px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

p-inputMask {
    margin-right: 15px;
    margin-top: 15px;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: transparent;
    color: #495057;
    outline: none;
}


fieldset {
    margin-bottom: 30px;
}





button {
    color: #ffffff;
    background: #3B82F6;
    border: 1px solid #3B82F6;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    cursor: pointer;
}

button:disabled {
    cursor: default !important;
    pointer-events: none;
    opacity: 0.6;
}

.submit {
    margin-top: 30px;
}




.show-booking > div
{
    width: 33%;
    min-height: calc(100vh - 130px) ;
    
    border-radius: 3px;
}

.info .part_1
{
    background-color: #E2E2E2;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.info .part_2
{
    background-color: #194A9E;
    padding: 10px;
    border-radius: 3px;
    color: #fff !important;
    margin-bottom: 15px;
}

.info .part_3 {
    padding: 10px;
    border-radius: 3px;
    color: #fff !important;
}

.isPaidOk
{
    background-color: green;
}

.isPaidOk2
{
    background-color: green;
}

.isPaidFalse {
    background-color: #F74B4C;
}

 h3
{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
}

.info span:last-child
{
    font-weight: 500;
}

.info span:first-child {
    display: inline-block;
    margin-right: 5px;
}

.info > div
{
    margin-bottom: 5px;
}
::placeholder
{
    font-size: 14px !important;
}

.pays 
{
    background-color: #E2E2E2;
    padding: 20px;
}

.info
{
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 3px;
}

.management
{
    background-color: #E2E2E2;
    padding: 20px;
    border-radius: 3px;
}

.management_btns span
{
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
}
.btn_paid_false
{
    border-radius: 3px;
    cursor: pointer;
    background-color: #FF2400;
}

.btn_paid_ok
{
    border-radius: 3px;
    cursor: pointer;
    background-color: green;
}

.btn_act_create
{
    border-radius: 3px;
    cursor: pointer;
    background-color: #FFA500;
    margin-left: 20px;
}

td
{
    font-size: 12px;
    padding: 7px !important;
}


.managmentActions
{
    margin-top: 30px;
}

.managmentActions span
{
    cursor: pointer;
}

.managmentActions
{
    display: flex;
    justify-content: space-between;
}


.close_info
{
    background-color: #008000;
    padding: 20px;
    margin-top: 10px;
    color: #fff;
    border-radius: 3px;
}

.close_info> div
{
    margin-bottom: 10px;
}

.close_info > div > span:last-child
{
    background-color: #fff;
    color: #194A9E;
    padding: 0 5px;
}