<div style="overflow: hidden;">
    <app-header-app-layout [title]="title"></app-header-app-layout>
    <p-toast></p-toast>
    <loader *ngIf="isLoadingSelector$ | async"></loader>



    <div class="add-dogovor-clientLaw" *ngIf="currentClientLaw && currentUser">
        <form (ngSubmit)="createDogovor()">
            <div class="xs_generate_docs__content" id="content" #content>
                <div class="row xs_doc_file_row">

                    <div class="xs_doc_file_title" style="margin-top: 30px; font-size: 10px;">

                        <table style="border: none;" width="100%">
                            <tr>
                              <td style="vertical-align: middle; border: none; margin-right: 130px;"><strong>г.Тюмень</strong></td>
                              <td  style=" font-size: 10px; text-align: center; vertical-align: middle;  border: none;  margin-right: 120px; font-size: 13px;"><strong>Договор аренды транспортного средства без экипажа №
                                {{xs_actual_date_for_dogovor_number}}/{{this.xs_actual_time_hour}}{{this.xs_actual_time_min}}</strong>
                              </td>
                              <td *ngIf="xs_actual_date " style=" font-size: 10px; text-align: center; vertical-align: middle;  border: none;"><strong>{{xs_actual_date}}.г</strong></td>
                            </tr>
                        </table>
                    </div>


                    
                    <div class="xs_doc_file law">
                        <div class="xs_row_1">
                            <div>
                                <a name="OLE_LINK5"></a>
                                <a name="OLE_LINK6"></a>
                                <br />
                                Общество с ограниченной ответственностью <strong>ООО «ВВС-ВЕБ</strong>» в
                                лице директора <strong>Синицына Виталия Викторовича </strong>
                                действующего на основании Устава, именуемое в дальнейшем «Арендодатель»,  и {{currentClientLaw.short_name}} <strong>
                                    «{{currentClientLaw.name}}»</strong><strong>
                                </strong> в лице {{currentClientLaw.boss_role}} <strong>
                                    {{currentClientLaw.boss_surname}} {{currentClientLaw.boss_name}} {{currentClientLaw.boss_lastname}}
                                    </strong>
                                действующего на основании {{currentClientLaw.osnovanie_boss_role}}а, именуемое в дальнейшем
                                «Арендатор», с
                                другой стороны, заключили настоящий Договор о нижеследующем
                            </div>
                        </div><br>
                        




                        <div class="xs_row_2">
                            <div>
                                <strong style="font-size: 12px;">1. Предмет Договора</strong>
                            </div>
                            <div align="justify">
                                1.1. В соответствии с условиями настоящего Договора, Арендодатель предоставляет Арендатору, во временное владение, пользование за плату автотранспортное средство, технические характеристики, комплектация и стоимость указаны в акте приема/передачи Приложение №1, являющимся неотъемлемой частью договора. 

                            </div>
                            <div align="justify">
                                1.2.  Арендодатель подтверждает, что он имеет право передавать право владения и пользования третьим лицам, кроме 
                                этого гарантирует, что транспортное средство марки согласно свидетельству о регистрации см. (Приложение №1) на 
                                момент заключения Договора, не является предметом какого-либо спора, не находится в розыске. 
                            </div>
                        </div><br>
                       





                        <div class="xs_row_3">
                            <div >
                                <strong style="font-size: 12px;">2. Условия и сроки</strong>
                            </div>
                            <div>
                                2.1. Автотранспортное средство, предоставленное по договору аренды, используется для потребительских целей Арендатора.<br>
                                <strong>Арендатор не вправе использовать и управлять Автомобилем при следующих обстоятельствах:</strong><br>
                                &nbsp;&nbsp;&nbsp;2.1.1. Удаленностью расстояния более 100 км от г. Тюмени без уведомления Арендодателя по средствам СМС сообщения, письменного заявления, электронной почты на email info&#64;autoprokat72.ru и получения согласия Арендодателя;<br>
                                &nbsp;&nbsp;&nbsp;2.1.2. При перевозке контрабандных товаров и в других противоречащих закону целях;<br>
                                &nbsp;&nbsp;&nbsp;2.1.3. Для буксирования другого транспортного средства, легковых и грузовых автомобилей;<br>
                                &nbsp;&nbsp;&nbsp;2.1.4. Как средство перевозки посылок и иных крупно- и малогабаритных грузов;<br>
                                &nbsp;&nbsp;&nbsp;2.1.5. Как средство для <strong>работы в службах такси</strong>, для перевозки животных, в любых соревнованиях, <strong>для сдачи в субаренду</strong>, трансфер;<br>
                                &nbsp;&nbsp;&nbsp;2.1.6. В состоянии алкогольного, наркотического, токсического или иного опьянения, а также передавать (допускать) управления и сам Автомобиль лицам, находящимся в таком же состоянии,
                                &nbsp;&nbsp;&nbsp;либо отказавшимся от прохождения освидетельствования на состояние опьянения, а равно передача (допущение) управления ТС лицу, не имеющему права на управление автомобилем, 
                                &nbsp;&nbsp;&nbsp;а также несоблюдение пункта 2.3 и п.2.7, недееспособному, имеющего медицинские противопоказания.<br>
                                &nbsp;&nbsp;&nbsp;2.1.7. Сдавать в субаренду имущество, предоставленное арендатору по настоящему договору, передавать свои права и обязанности по настоящему договору другому лицу, предоставлять имущество <br>
                                &nbsp;&nbsp;&nbsp;в безвозмездное пользование, в залог арендных прав и внесение их в качестве имущественного вклада в хозяйственные товарищества и общества или паевого взноса в производственные кооператив.<br>
                            </div>
                            <div align="justify">
                                2.2. Арендатор не вправе передавать право управления автомобилем третьим лицам,  данное нарушение облагается штрафом в размере тройного суточного платежа указанного в <strong>Приложении №1</strong>. 
                                В указанном случае настоящий договор расторгается в одностороннем порядке, автомобиль изымается у Арендатора, залог и предоплата за остаток дней удерживается в полном размере.
                            </div>
                            <div align="justify">
                                2.3. Арендатор своими силами осуществляет управление, заправку топливом, мойку автотранспортного средства переданного ему в аренду.
                            </div>
                            <div align="justify">
                                2.4. Настоящий Договор действует со дня его заключения по <strong>{{yearDate | date : 'dd.MM.yyyy'}} г</strong> г. включительно и продлевается на каждый следующий год, если ни одна из Сторон не заявит 
                                о своем намерении прекратить договор не позднее чем за десять рабочих дней до истечения срока его действия. Данное правило продолжает действовать после первого продления договора и может применяться 
                                неограниченное количество раз. 
                            </div>
                            <div align="justify">
                                2.5. Арендатор вносит  залог на период аренды автомобиля, сумма которого указана в <strong>Приложении №1</strong>. 
                                Залог вносится на дополнительные расходы в виде комплексной мойки автомобиля, заправки топлива и иные денежные взыскания, связанные с 
                                несоответствием первоначального состояния автомобиля на момент его передачи Арендатору, состоянию автомобиля при возврате из аренды. 
                                Залог возвращается Арендатору наличными денежными средствами или на банковскую карту в сроки согласованные сторонами.
                            </div>
                            <div align="justify">
                                2.6. Возраст Водителя должен составлять от <strong>22</strong> (двадцати двух) лет и стаж управления ТС от <strong>2-х</strong> лет.
                            </div>
                            <div align="justify">
                                2.7. Арендатор не имеет права на последующий выкуп автомобиля.
                            </div>
                            <div align="justify">
                                2.8. Прием и передача автомобиля осуществляется по адресу г. Тюмень, ул. Дмитрия Менделеева, 
                                д.18 или в ином заранее оговоренном месте на основании акта приема/передачи транспортного средства <strong>(Приложение №1)</strong>. 
                            </div>
                            <div align="justify">
                                2.9. Арендатор имеет право использовать автомобиль только на территории <u>Российской
                                    Федерации.</u>
                            </div>
                            <div align="justify">
                                2.10. . К управлению ТС допущены следующие лица указанные в таблице №1 акта приема/передачи <strong>Приложение №1</strong>:
                            </div>
                            <div align="justify">
                                2.11. Лицо ответственное за приемку автомобиля (с правом подписания Акта) со стороны Арендатора указано в Приложении №1.
                            </div>
                        </div><br>
                       





                        <div class="xs_row_4">
                            <div >
                                <strong style="font-size: 12px;">3. Права и обязанности сторон</strong>
                            </div>
                            <div align="justify">
                                <strong>3.1. Арендодатель обязуется: </strong>
                            </div>
                            <div align="justify">
                                3.1.1.  Передать Арендатору автомобиль в аренду в момент подписания акта приема/передачи <strong>(Приложение №1)</strong>.
                                <br />
                                3.1.2. Нести расходы, связанные с содержанием транспортного средства, приобретением запчастей и расходных материалов, изнашивающихся в процессе 
                                его эксплуатации и требующих замены в соответствии с регламентом технического обслуживания. 
                            </div>
                            <div align="justify">
                                3.1.3. Арендодатель, заключающий настоящий договор, обязан в присутствии арендатора проверить исправность сдаваемого в аренду имущества, 
                                а также ознакомить арендатора с правилами эксплуатации имущества. 
                            </div>
                            <div align="justify">
                                <strong>3.2. Арендодатель имеет право: </strong>
                            </div>
                            <div align="justify">
                                3.2.1. Потребовать предоставить автомобиль на проверку технического и внешнего состояния
                            </div>
                            <div align="justify">
                                3.2.2. Изъять по акту приема передачи автомобиль немедленно, принудительно у Арендатора без согласования с последним, если нарушен 
                                один из пунктов 2.1.1.-2.1.6., п.2.3, п.5.2.1 – 5.2.4., при этом Арендатор обязан оплатить расходы по транспортировке автомобиля с места изъятия до стоянки Арендодателя, 
                                расположенной по адресу: г. Тюмень, ул. Дмитрия Менделеева, д.18, а так же уплатить штраф в размере тройного суточного платежа аренды автомобиля согласно <strong>Приложению №1</strong>.
                            </div>
                            <div align="justify">
                                3.2.3. В случае фиксации нарушений ПДД системами фото/видео фиксации собственник или представитель собственника автомобиля в праве обратится в 
                                ГИБДД с целью обжалования постановления об административном правонарушении.
                            </div>
                            <div align="justify">
                                3.2.4. Потребовать внесения арендной платы за все время просрочки, если арендатор не возвратил арендованное имущество либо возвратил его несвоевременно. 
                                В случае, когда указанная плата не покрывает причиненных арендодателю убытков, он может потребовать их возмещения.
                            </div>
                            <div align="justify">
                                3.2.5. На свое усмотрение удержать залоговую сумму в полном размере, если Арендатор вернул автомобиль несоответствующим его первоначальному состоянию в момент передачи 
                                Арендатору или если имеются подозрения в наличии скрытых дефектов до момента выяснения указанного обстоятельства на срок до 3-х суток.
                            </div>
                            <div align="justify">
                                <strong>3.3. Арендатор обязуется: </strong>
                            </div>
                            <div align="justify">
                                3.3.1. Соблюдать условия настоящего Договора и нести полную материальную и правовую ответственность за их нарушение и причиненный ущерб, в соответствии 
                                с законодательством РФ и настоящим Договором;
                            </div>
                            <div align="justify">
                                3.3.2. Использовать Автомобиль исключительно по его прямому назначению, в соответствии с техническими характеристиками, условиями эксплуатации согласно пункту 2.1.;  
                                оставлять автомобиль закрытым, поставленным на сигнализацию; не оставлять в автомобиле документы (Свидетельство о регистрации ТС и др.) и ключи; соблюдать 
                                Правила дорожного движения установленные в Российской Федерации.
                            </div>
                            <div align="justify">
                                3.3.3. Не производить переоснащения или переоборудования автомобиля;
                            </div>
                            <div align="justify">
                                3.3.4. Арендатор обязуется вернуть автомобиль (имущество) в сроки, указанные в настоящем договоре, в том состоянии, в котором он его принял, с учетом нормального износа или 
                                в состоянии обусловленным акту приема/передачи <strong>Приложение №1</strong>, вовремя и в месте, указанном в настоящем договоре, согласно  п.2.8.
                            </div>
                            <div align="justify">
                                3.3.5. Арендатор обязуется оплатить административные штрафы за нарушения ПДД РФ, назначенные в период эксплуатации транспортного средства на основании настоящего договора и акта приема/передачи 
                                <strong>(Приложение №1)</strong> в течение <strong>3 (трех) </strong>дней после даты вынесения постановления 
                                об административном правонарушении и уведомить Арендодателя об оплате предоставив квитанции. 
                            </div>
                            <div align="justify">
                                3.3.6. Если Арендатор в течение указанного пункте 3.3.5. срока не оплатил административные штрафы и не предоставил квитанции 
                                об оплате, Арендодатель имеет право удержать суммы штрафов из суммы внесенного Арендатором залога. 
                            </div>
                            <div align="justify">
                                3.3.7. Арендатор соглашается с тем, что в момент фиксации нарушения ПДД РФ транспортное средство марка, модель, государственный регистрационный номер которого указаны в
                                <strong>Приложении №1</strong>, находилось под его управлением, в его пользовании и владении на основании настоящего договора и акта/приема передачи <strong>Приложении №1</strong>. 
                            </div>
                            <div align="justify">
                                3.3.8. Арендатор, подписывая настоящий договор и Приложение №1, соглашается с возможным допущением им административных правонарушений, возникших в период эксплуатации им автомобиля, признает свою вину и обязуется оплатить административные
                                штрафы в срок, установленный настоящим договором. 
                            </div>
                            <div align="justify">
                                3.3.9. За нарушение условий эксплуатации автомобиля Арендатор обязуется уплатить штраф в следующих размерах и по следующим основаниям:<br>
                                - любые действия и бездействия Арендатора, приведшие к внеплановому ремонту или уменьшению товарной стоимости (УТС) 
                                Автомобиля - штраф в размере100% (сто процентов) от величины стоимости внепланового ремонта или УТС Автомобиля.<br>
                                - в случае ДТП, в результате которого Автомобилю были причинены повреждения по вине Арендатора, Арендатор обязуется уплатить расходы в размере 100 % (Сто процентов) от величины ущерба,
                                причиненного Автомобилю при условии отсутствия дополнительной услуги КАСКО.<br>
                                - в случае выявления сильного загрязнения салона ТС или <strong>едкого запаха сигаретного/табачного дыма, пепла, окурков, алкоголя или прочих ядовитых и иных веществ</strong> , Арендатор оплачивает химчистку автомобиля, 
                                а также штраф в размере суточного платежа аренды, в соответствии <strong>Приложение №1</strong>.
                            </div>
                            <div align="justify">
                                3.3.10. В случае возникновения простоя (по причине неисправности, ДТП, помещения на спец. автостоянку, административного, уголовного задержания ТС) 
                                по вине Арендатора, последний оплачивает каждые сутки простоя автомобиля Арендодателю по тарифу суточной 
                                стоимости проката ТС, указанной в <strong>Приложение №1</strong>, а также несет расходы на эвакуацию и прочее.
                            </div>
                            <div align="justify">
                                3.3.11. В случае повреждения или ДТП Арендатор обязуется немедленно вызвать на место ДТП представителей ГИБДД и уведомить (письменно, по СМС сообщением) Арендодателя о происшествии, 
                                а также зафиксировать данные второго участника ДТП (ФИО, адрес, телефон, марку и гос. номер а/м), 
                                получить копию документа с подробным перечнем повреждений, получить справку о ДТП, проконтролировать полноту сведений в документах. 
                            </div>
                            <div align="justify">
                                3.3.12. В случае повреждений, вызванных стихийным бедствием, утраты автомобиля или действиями третьих лиц (ДТП, кража, хулиганство ит.п.) 
                                Арендатор обязуется немедленно обратиться в органы внутренних дел, составить документ 
                                с подробным списком повреждений, получить необходимые документы и уведомить Арендодателя о происшествии.	
                            </div>
                            <div align="justify">
                                3.3.13. В случае утраты, невозможной дальнейшей эксплуатации в результате ДТП по вине Арендатора, в результате передачи ТС в субаренду, передачи права управления третьим лицам, в результате 
                                чего произошла утрата автомобиля (ДТП, кража, хищение и т.п.), 
                                возместить Арендодателю стоимость автомобиля, указанную в <strong>Приложении№1</strong> настоящего договора.
                            </div>
                            <div align="justify">
                                3.3.14.  В случае, если автомобиль попадает на спецавтостоянку в период действия договора, Арендатор несет расходы на эвакуацию, оплату стоянки все возможные затраты, 
                                а также принимает все возможные меры для скорейшего освобождения автомобиля.
                            </div>
                            <div align="justify">
                                3.3.15. В случае уклонения от оплаты административных штрафов, вынесенных Арендатору, последний оплачивает штраф Арендодателю в размере одного суточного платежа аренды автомобиля.
                            </div>
                            <div align="justify">
                                3.3.16. При утрате или повреждении указанных в акте приема/передачи Приложение №1 принадлежностей, комплектующих автомобиля в момент возврата его Арендодателю, 
                                Арендатор обязан доукомплектовать автомобиль утраченными принадлежностями, комплектующими 
                                по расценкам, указанным в <strong>Приложении№1</strong>.
                                <br />
                                3.3.17. В случае не установления лиц, причинивших повреждения автомобилю в результате ДТП, неосторожности, с целенаправленным умыслом причинения вреда автомобилю, утраты автомобиля, кражи, хищения, угона, 
                                мошенничества с правом присвоения собственности, в течение 7(семи) дней, с даты причинения вреда  или утраты автомобиля, Арендатор обязуется возместить Арендодателю стоимость автомобиля, 
                                указанную в <strong>Приложении№1</strong> настоящего договора при условии отсутствия покупки дополнительной услуги КАСКО.
                            </div>
                            <div align="justify">
                                3.3.18. Если недостатки арендованного имущества явились следствием нарушения арендатором правил эксплуатации и содержания имущества, 
                                арендатор оплачивает арендодателю стоимость ремонта и транспортировки имущества.
                            </div>

                            <div align="justify">
                                <strong>3.4. Арендатор имеет право: </strong>
                            </div>
                            <div align="justify">
                                3.4.1. Досрочно расторгнуть договор, если: - арендодатель должным образом не исполняет обязанности п.3.1; - автомобиль технически не исправен;
                            </div>
                            <div align="justify">
                                3.4.2. Потребовать замену на свободный автомобиль идентичного класса из автопарка Арендодателя, если автомобиль, находящийся в аренде оказался технически неисправен, 
                                а так же потребовать возврата средств потраченных на заправку топливом автомобиля.
                            </div>
                            <div align="justify">
                                3.4.3. На ограничение ответственности в случаях причинения ущерба автомобилю при любых обстоятельствах при условии покупки дополнительной услуги КАСКО на время проката ТС согласно 
                                Приложению №1. Подтверждением покупки дополнительно й услуги КАСКО является кассовый чек от Арендодателя. В случае происшествия и активации услуги КАСКО, Арендатор оплачивает сумму 
                                франшизы КАСКО которая составляет от 40000 рублей и зависит от модели 
                                ТС, а так же простой транспортного средства за 30 полных суток по тарифу указанному в Приложении №1.  
                            </div>
                            <div align="justify">
                                3.4.4 Арендатор вправе отказаться от договора проката в любое время, письменно предупредив о своем намерении арендодателя не менее чем за десять дней.
                            </div>
                        </div><br>



                        
                        <div class="xs_row_5">
                            <div >
                                <strong style="font-size: 12px;">4. Расчеты по Договору</strong>
                            </div>
                            <div align="justify">
                                4.1. Стоимость проката автомобиля формируется из согласованного сторонами <strong>Приложения № 1</strong> к Договору.
                            </div>
                            <div align="justify">
                                4.2.Арендатор производит оплату проката перед началом срока эксплуатации транспортного средства.
                            </div>
                            <div align="justify">
                                4.3. Арендатор оплачивает аренду автотранспортного средства на основании настоящего Договора.
                                <br />
                                4.4. В случае нарушения Арендатором сроков оплаты аренды, указанных в п. 4.2 настоящего договора, Арендодатель оставляет за собой право начислить пени в размере 
                                50% (пятьдесят) от ежесуточного платежа, указанного в Приложении №1 и потребовать оплаты денежной задолженности, а Арендатор обязуется оплатить Арендодателю на основании 
                                выставленного счета денежную задолженность в 100% (сто) с учетом пеней в течение 3-х рабочих дней. Арендодатель может по своему усмотрению:<br>
                                - использовать либо не использовать свое право на взыскание неустоек, предусмотренных договором и определить срок их предъявление;<br>
                                - установить период в течение, которого начисляются и (или) взыскиваются неустойки;<br>
                                - взыскать полностью или уменьшить размер неустоек, предусмотренных настоящим договором.
                                <br>
                                4.5. Оплата аренды может быть изменена Арендодателем в одностороннем порядке в случае изменения согласованного маршрута Арендатором.
                            </div>
                        </div><br>





                        
                        <div class="xs_row_6">
                            <div >
                                <strong style="font-size: 12px;">5. Ответственность</strong>
                            </div>
                            <div align="justify">
                                5.1. Арендатор несет полную материальную и правовую ответственность за автомобиль, а также за причиненный ему вред (как умышленно, так и по неосторожности) 
                                по своей вине и по вине третьих лиц.
                            </div>
                            <div align="justify">
                                5.2. Арендатор несет ответственность за состояние лакокрасочного покрытия, комплектацию автомобиля указанную в акте приема/передачи Приложение №1, состояние салона, 
                                а так же за небрежную эксплуатацию агрегатов транспортного.
                                <br />
                                5.3. Арендатор несет ответственность за своевременную уплату аренды автомобиля, согласованную территорию эксплуатации, а так же допуск лиц к управлению автомобилем.
                            </div>
                            <div align="justify">
                                5.4. Если нарушен один из п. 5.4.1 – 5.4.3 настоящего договора, Арендодатель рассматривает данные действия как завладение имуществом (автомобилем) путем обмана, злоупотребления доверием Арендодателя – мошенничество, в этом случае Арендатор обязуется уплатить штраф Арендодателю в тройном размере суточного платежа аренды автомобиля согласно <strong>Приложению №1</strong>;<br>
                                &nbsp;&nbsp;&nbsp;5.4.1. Если Арендатор использует автомобиль без оплаты, а так же по окончанию оплаты проката или в день возврата автомобиля, Арендатор не отвечает на оставленные в договоре номера телефонов или недоступен по дополнительным каналам связи Viber,WhatsApp,Telegram, email;<br>
                                &nbsp;&nbsp;&nbsp;5.4.2. Если Арендатор самовольно, без согласования с Арендодателем использует автомобиль за пределами г. Тюмень (на расстоянии свыше 100 км от г. Тюмень) а также за пределами территорию Российской Федерации.<br>
                                &nbsp;&nbsp;&nbsp;5.4.3. Если Арендатор препятствует Арендодателю изъятию автомобиля каким-либо способом, не возвращая ключи зажигания, документы на автомобиль, брелоки включения/отключения охранных систем, препятствует доступу к автомобилю физической и моральной силой;<br>
                                &nbsp;&nbsp;&nbsp;5.4.4. Если Арендатор самовольно оставляет автомобиль без согласования Арендодателя, без подписания акта приема/передачи, скрывается и уклоняется от звонков, личного контакта, а также отказывается от выполнения своих обязательств по настоящему договору. 
                            </div>
                         
                            <div align="justify">
                                5.5. Арендатор не несет ответственность за повреждения, вызванные обстоятельствами, находящимися вне его контроля, такими как сколы и царапины от камней, возникающие в процессе 
                                целевого использования автомобиля.
                            </div>
                            <div align="justify">
                                5.6. Арендодатель не несет ответственности за материальные и прочие ценности, оставленные в салоне автомобиля Арендатором при принудительном изъятии, эвакуации и простое автомобиля. 
                                В данном случае удерживается предоплата в 100% объеме за аренду автомобиля в пользу Арендодателя.
                            </div>
                            <div align="justify">
                                5.7. Все споры, возникающие в ходе, исполнения настоящего Договора, разрешаются путем ведения переговоров, при невозможности их разрешения рассматриваются в судебном порядке по месту нахождения Истца. 
                                Срок рассмотрения и ответа на претензию составляет 10 дней с момента ее получения<br>
                                5.8. В случае выявления факта курения, употребления спиртных напитков и наркотических веществ в салоне арендного автомобиля, Арендатор обязан уплатить штраф в размере 5 000 рублей.<br>
                                5.9. В случае повреждения лобового стекла сколом, размеры которого не превышают диаметра 5мм и отсутствует исходящие трещины, то арендатор в данном случае ответственности не несет, в ином случае Арендатор обязан возместить расходы по замене либо ремонту лобового стекла.
                            </div>
                        </div><br>




                        <div class="xs_row_7">
                            <div>
                                <strong style="font-size: 12px;">6. Дополнительные условия</strong>
                            </div>
                            <div align="justify">
                                6.1. Любые изменения и дополнения к настоящему Договору имеют юридическую силу только в том случае, если выполнены в письменной форме и подписаны каждой из сторон по Договору.
                            </div>
                            <div align="justify">
                                6.1.1. Расторжение настоящего договора в одностороннем порядке по инициативе Арендодателя возможно путем письменного уведомления Арендатора о таком расторжении 
                                за 30 дней до даты расторжения настоящего договора.
                            </div>
                            <div align="justify">
                                6.2. Стороны согласились с тем, что Договор, акт и дополнения к данному Договору, заключенные посредством факсимильной и/или электронной связи, имеют 
                                юридическую силу при условии последующего обмена оригиналами. 
                            </div>
                            <div align="justify">
                                6.3. Стоимость дополнительных услуг оплачивается отдельно по следующим тарифам: подача и прием ТС круглосуточно от 1200 рублей в зависимости от удаленности стоянки Арендодателя а так же по адресу 
                                г. Тюмень, ул. Дмитрия Менделеева, д.18, мойка авто от 1300р., максимальное время ожидания на выдачу ТС по адресу клиента 60 минут, из которых первые 30 минут бесплатно, 
                                последующие 30 минут по тарифу 50% от обозначенной стоимости услуги.
                            </div>
                            <div>
                                6.4. Настоящий Договор составлен на русском языке в двух экземплярах для каждой из сторон и имеющих одинаковую юридическую силу
                            </div>
                            <div>
                                6.5. Договор автоматически продлевается на каждый следующий год, за исключением случая, когда хотя бы одна из сторон не позднее чем за 10 дней до истечения срока действия договора уведомит о его прекращении.
                            </div>
                           
                        </div><br>






                        <div class="xs_row_8">
                            <div>
                                <strong style="font-size: 12px;">
                                    7. Юридические адреса, банковские реквизиты, подписи сторон
                                </strong>
                            </div><br>




                            <table width="100%"  style="width: 100%;">
                                <tr>
                                    <td width="50%" style="width: 50%;">
                                        <div>
                                            <strong>Арендодатель:</strong>
                                            <strong> ООО «</strong>
                                            <strong>BBC</strong>
                                            <strong>-ВЕБ»</strong>
                                        </div>
                                        <div>
                                            ИНН 7203356189 КПП 720301001 ОГРН 1157232033716 Адрес регистрации/Почтовый адрес: 625033, г. Тюмень, ул. Дмитрия Менделеева, д. 18, офис 323
                                             Р/С: 40701810467100000021 
                                             К/С: 30101810800000000651 
                                             Банк: ЗАПАДНО-СИБИРСКОЕ ОТДЕЛЕНИЕ №8647 ПАО СБЕРБАНК БИК: 046577964 
                                             Тел. +7 (3452) 388-311 email: info&#64;autoprokat72.ru
                                        </div>
                                        <br><br>

                                        <div>
                                            ___________________________/ В.В. Синицын
                                        </div>
                                    </td>




                                    <td width="50%" style="width: 0%;">
                                        <div>
                                            <strong>Арендатор: {{currentClientLaw.short_name}} 
                                                «{{currentClientLaw.name}}»</strong>
                                        </div>

                                        <div>
                                            ИНН {{currentClientLaw.inn}} КПП {{currentClientLaw.kpp}} ОГРН {{currentClientLaw.ogrn || currentClientLaw.ogrn_ip}} 
                                            Адрес регистрации/Почтовый адрес: 
                                            {{currentClientLaw.law_address}}
                                            Р/С: {{currentClientLaw.rc_number}}
                                            К/С: {{currentClientLaw.kor_rc_number}}
                                            Банк:{{currentClientLaw.name_bank}}
                                            БИК: {{currentClientLaw.bik_number}} 
                                            Тел. {{currentClientLaw.phone_1 || currentClientLaw.phone_2 }} email: {{currentClientLaw.email}}
                                        </div><br><br><br>




                                        <div>
                                            ___________________________/ {{currentClientLaw.boss_surname}} {{currentClientLaw.boss_name}} {{currentClientLaw.boss_lastname}}
                                        </div>
                                    </td>
                                </tr>
                            </table>




                        </div>
                    </div>
                </div>
            </div>



            <button type="submit" class="submit" (click)="generatePDF()"><i class="pi pi-check"></i> Сохранить</button>
        </form>
    </div>
</div>