<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector$ | async"></loader>



<div class="add-dogovor-clientFiz" *ngIf="currentClientFiz && currentUser">
    <form [formGroup]="form" (ngSubmit)="createDogovor()">
        <div class="xs_generate_docs__content" id="content" #content>
            <div class="row xs_doc_file_row">
        
                <div class="xs_doc_file_title" style="margin-top: 30px; font-size: 20px;">
                    <strong>Договор проката транспортного средства без экипажа №
                        {{xs_actual_date}}/СТС-{{currentClientFiz._id}}</strong><br>
                    <strong>г. Тюмень , от {{xs_actual_date | date : 'd.M.y'}} </strong><br>
                </div>
        
                <div class="xs_doc_file fsz">
                    <div>
                        <a name="OLE_LINK5"></a>
                        <a name="OLE_LINK6"></a>
                        <br />
                        Общество с ограниченной ответственностью <strong>ООО «ВВС-ВЕБ</strong>» в
                        лице уполномоченного <strong>{{currentUser.secondName}} {{currentUser.name}}
                            {{currentUser.lastName}}</strong>
                        действующего на основании Доверенности №<strong>{{currentUser.doverenostNumber}} </strong>от
                        <strong>{{currentUser.doverenostDate | date : 'd MMMM y'}}г</strong>., именуемое в
                        дальнейшем «Арендодатель», и
                        Гражданин(ка) РФ, <strong>{{currentClientFiz.surname}} {{currentClientFiz.name}}
                            {{currentClientFiz.lastname}}</strong><strong>,</strong> дата рождения:
                        <strong>{{currentClientFiz.date_birth | date : 'dd.MM.yyyy'}}</strong><strong>,</strong> паспорт:
                        серия <strong>{{currentClientFiz.passport_seria}}
                            №{{currentClientFiz.passport_number}}</strong> <strong>, </strong>выдан
                        <strong>
                            {{currentClientFiz.passport_who_take}}
                        </strong>
                        <strong> ,</strong>
                        дата выдачи: <strong>{{currentClientFiz.passport_date | date :
                            'dd.MM.yyyy'}}</strong><strong>,</strong> регистрация:
                        <strong>
                            {{currentClientFiz.passport_register}}
                        </strong>
                        <strong>, </strong>
                        водительское удостоверение: <strong>{{currentClientFiz.prava_seria}} №
                            {{currentClientFiz.prava_number}}</strong> <strong>, </strong>дата выдачи:
                        <strong>{{currentClientFiz.prava_date}}г</strong> фактический
                        адрес проживания
                        (пребывания):<strong>__________________________________________________________</strong><strong>,</strong>
                        контактный номер
                        телефона:<strong>{{currentClientFiz.phone_1}}</strong><strong>,</strong> доп.: <strong>
                            тел.</strong>_____________________<strong>,
                            тел.</strong>_____________________<strong>,
                            тел.</strong>_____________________<strong>,
                            тел.</strong>_____________________<strong>,
        
                        </strong>
                        именуемый в дальнейшем «Арендатор», с другой стороны, заключили настоящий
                        Договор о нижеследующем:
                    </div>
        
                    <div>
                        <strong>1. Предмет Договора</strong>
                    </div>
                    <div>
                        1.1. В соответствии с условиями настоящего Договора, Арендодатель
                        предоставляет Арендатору, во временное владение, пользование за плату
                        автотранспортное средство, технические характеристики, комплектация и
                        стоимость указаны в акте приема/передачи <strong>Приложение №1, </strong>
                        являющимся неотъемлемой частью договора.
                    </div>
                    <div>
                        1.2. Арендодатель подтверждает, что он имеет право передавать право
                        владения и пользования третьим лицам, кроме этого гарантирует, что
                        транспортное средство марки согласно свидетельству о регистрации <strong>см. (Приложение №1)
                        </strong>на момент
                        заключения Договора, не
                        является предметом какого-либо спора, не находится в розыске.
                    </div>
                    <div>
                        <strong>2. Условия и сроки</strong>
                    </div>
                    <div>
                        2.1. Автотранспортное средство, предоставленное по договору проката,
                        используется для потребительских целей Арендатора.
                    </div>
                    <div>
                        <strong>
                            Арендатор не вправе использовать и управлять Автомобилем в следующих
                            случаях:
                        </strong>
                    </div>
                    <div>
                        2.1.1. Удаленностью расстояния более 100 км от г. Тюмени без уведомления
                        Арендодателя по средствам СМС сообщения, письменного заявления, электронной
                        почты на email info@autoprokat72.ru и получения согласия Арендодателя;
                    </div>
                    <div>
                        2.1.2. При перевозке контрабандных товаров и в других противоречащих закону
                        целях, для буксирования другого транспортного средства, легковых и грузовых
                        автомобилей, как средство перевозки посылок и иных крупно- и малогабаритных
                        грузов, как средство для <strong>работы в службах такси</strong>, для
                        перевозки животных, в любых соревнованиях, <strong>для сдачи в субаренду</strong>, трансфере, в
                        состоянии
                        алкогольного, наркотического, токсического или иного опьянения, а также
                        передавать (допускать) управления и сам Автомобиль лицам, находящемся в
                        таком же состоянии, либо отказавшемся от прохождения освидетельствования на
                        состояние опьянения, а равно передача (допущение) управления ТС лицу, не
                        имевшему права на управление автомобиля, а также несоблюдение пункта 2.2 и
                        п.2.6, недееспособному, имеющего медицинские противопоказания.
                    </div>
                    <div>
                        2.1.7. Арендатор не вправе сдавать в субаренду имущество, предоставленное
                        арендатору по настоящему договору, передавать свои права и обязанности по
                        настоящему договору другому лицу, предоставлять имущество в безвозмездное
                        пользование, в залог арендных прав и внесение их в качестве имущественного
                        вклада в хозяйственные товарищества и общества или паевого взноса в
                        производственные кооператив.
                    </div>
                    <div>
                        2.2. Арендатор не вправе передавать право управления автомобилем третьим
                        лицам, данное нарушение облагается штрафом в размере тройного суточного
                        платежа указанного в <strong>Приложении №1</strong>. В указанном случае
                        настоящий договор расторгается в одностороннем порядке, автомобиль
                        изымается у Арендатора, залог и предоплата за остаток дней удерживается в
                        полном размере.
                    </div>
                    <div>
                        2.3. Арендатор своими силами осуществляет управление, заправку топливом,
                        мойку автотранспортного средства переданного ему в аренду.
                    </div>
                    <div>
                        2.4. . Настоящий Договор действует в течение срока аренды автомобиля, а в
                        части исполнения сторонами своих обязательств – до полного их исполнения.
                        Настоящий договор действует до <strong>{{yearDate | date : 'd.M.y'}}</strong>г.
                    </div>
                    <div>
                        2.5. Арендатор вносит залог на период аренды автомобиля, сумма которого
                        указана в <strong>Приложении №1. </strong>Залог вносится на дополнительные
                        расходы в виде комплексной мойки автомобиля, заправки топлива и иные
                        денежные взыскания, связанные с несоответствием первоначального состояния
                        автомобиля на момент его передачи Арендатору, состоянию автомобиля при
                        возврате из аренды. Залог возвращается Арендатору наличными денежными
                        средствами или на банковскую карту в сроки согласованные сторонами.
                    </div>
                    <div>
                        <a name="OLE_LINK9"></a>
                        <a name="OLE_LINK10"></a>
                        <a name="dst100748"></a>
                        2.6. Возраст Водителя должен составлять от <strong>23 </strong>(двадцати
                        трех) лет и стаж управления ТС от <strong>2-х</strong> лет.
                    </div>
                    <div>
                        2.7. Арендатор не имеет права на последующий выкуп автомобиля.
                    </div>
                    <div>
                        2.8. Прием и передача автомобиля осуществляется по адресу г. Тюмень, ул.
                        Дмитрия Менделеева, д.18 или в ином заранее оговоренном месте на основании
                        акта приема/передачи транспортного средства <strong>(Приложение №1)</strong>.
                    </div>
                    <div>
                        2.9. Арендатор имеет право использовать автомобиль только на территории <u>Российской Федерации.</u>
                    </div>
                    <div align="justify">
                        <strong>3. Права и обязанности сторон</strong>
                    </div>
                    <div>
                        3.1. Арендодатель обязуется:
                    </div>
                    <div>
                        3.1.1. Передать Арендатору автомобиль в аренду в момент подписания акта
                        приема/передачи (Приложение №1).
                        <br />
                        3.1.2. Нести расходы, связанные с содержанием транспортного средства,
                        приобретением запчастей и расходных материалов, изнашивающихся в процессе
                        его эксплуатации и требующих замены в соответствии с регламентом
                        технического обслуживания.
                    </div>
                    <div>
                        3.1.3. Арендодатель, заключающий настоящий договор, обязан в присутствии
                        арендатора проверить исправность сдаваемого в аренду имущества, а также
                        ознакомить арендатора с правилами эксплуатации имущества.
                    </div>
                    <div>
                        3.2. Арендодатель имеет право:
                    </div>
                    <div>
                        3.2.1. Потребовать предоставить автомобиль на проверку технического и
                        внешнего состояния.
                    </div>
                    <div>
                        3.2.2. Изъять по акту приема передачи автомобиль немедленно, принудительно
                        у Арендатора без согласования с последним, если нарушен один из пунктов
                        2.1.1.-2.1.6., п.2.3, п.5.2.1 – 5.2.4., при этом Арендатор обязан оплатить
                        расходы по транспортировке автомобиля с места изъятия до стоянки
                        Арендодателя, расположенной по адресу: <u>г. Тюмень, ул. Дмитрия Менделеева, д.18</u>, а так же
                        уплатить штраф в
                        размере тройного суточного платежа аренды автомобиля согласно Приложению
                        №1.
                    </div>
                    <div>
                        3.2.3. В случае фиксации нарушений ПДД системами фото/видео фиксации
                        собственник или представитель собственника автомобиля в праве обратится в
                        ГИБДД с целью обжалования постановления об административном правонарушении.
                    </div>
                    <div>
                        3.2.4. Потребовать внесения арендной платы за все время просрочки, если
                        арендатор не возвратил арендованное имущество либо возвратил его
                        несвоевременно. В случае, когда указанная плата не покрывает причиненных
                        арендодателю убытков, он может потребовать их возмещения.
                    </div>
                    <div>
                        3.2.5. На свое усмотрение удержать залоговую сумму в полном размере, если
                        Арендатор вернул автомобиль несоответствующим его первоначальному состоянию
                        в момент передачи Арендатору или если имеются подозрения в наличии скрытых
                        дефектов до момента выяснения указанного обстоятельства на срок до 3-х
                        суток.
                    </div>
                    <div align="justify">
                        3.2.6. На свое усмотрение удержать залоговую сумму в полном размере если
                        Арендатор вернул автомобиль в несоответствии его первоначального состояния
                        на момент передачи Арендатору или в подозрении скрытых дефектов до момента
                        их выяснения на срок до 3-х суток.
                    </div>
                    <div align="justify">
                        3.3. Арендатор обязуется:
                    </div>
                    <div align="justify">
                        3.3.1. Соблюдать условия настоящего Договора и нести полную материальную и
                        правовую ответственность за их нарушение и причиненный ущерб, в
                        соответствии с законодательством РФ и настоящим Договором;
                    </div>
                    <div align="justify">
                        3.3.2. Использовать Автомобиль исключительно по его прямому назначению, в
                        соответствии с техническими характеристиками, условиями эксплуатации
                        согласно пункту 2.1.; оставлять автомобиль закрытым, поставленным на
                        сигнализацию; не оставлять в автомобиле документы (Свидетельство о
                        регистрации ТС и др.) и ключи; соблюдать Правила дорожного движения
                        установленные в Российской Федерации.
                    </div>
                    <div align="justify">
                        3.3.3. Не производить переоснащения или переоборудования автомобиля;
                    </div>
                    <div align="justify">
                        3.3.4. Арендатор обязуется вернуть автомобиль (имущество) в сроки,
                        указанные в настоящем договоре, в том состоянии, в котором он его принял, с
                        учетом нормального износа или в состоянии обусловленным акту
                        приема/передачи Приложение №1, вовремя и в месте, указанном в настоящем
                        договоре, согласно п.2.8.
                    </div>
                    <div>
                        3.3.5. Арендатор обязуется оплатить административные штрафы за нарушения
                        ПДД РФ, назначенные в период эксплуатации транспортного средства на
                        основании настоящего договора и акта приема/передачи (Приложение №1) в
                        течение 3 (трех) дней после даты вынесения постановления об
                        административном правонарушении и уведомить Арендодателя об оплате
                        предоставив квитанции.
                    </div>
                    <div>
                        3.3.6. Если Арендатор в течение указанного пункте 3.3.5. срока не оплатил
                        административные штрафы и не предоставил квитанции об оплате, Арендодатель
                        имеет право удержать суммы штрафов из суммы внесенного Арендатором залога.
                    </div>
                    <div>
                        3.3.7. Арендатор соглашается с тем, что в момент фиксации нарушения ПДД РФ
                        транспортное средство марка, модель, государственный регистрационный номер
                        которого указаны в Приложении №1, находилось под его управлением, в его
                        пользовании и владении на основании настоящего договора и акта/приема
                        передачи Приложение №1.
                    </div>
                    <div>
                        3.3.8. Арендатор, подписывая настоящий договор и Приложение №1, соглашается
                        с возможным допущением им административных правонарушений, возникших в
                        период эксплуатации им автомобиля, признает свою вину и обязуется оплатить
                        административные штрафы в срок, установленный настоящим договором.
                    </div>
                    <div>
                        3.3.9. За нарушение условий эксплуатации автомобиля Арендатор обязуется
                        уплатить штраф в следующих размерах и по следующим основаниям:
                    </div>
                    <div>
                        - любые действия и бездействия Арендатора, приведшие к внеплановому ремонту
                        или уменьшению товарной стоимости (УТС)
                    </div>
                    <div>
                        Автомобиля - штраф в размере100% (сто процентов) от величины стоимости
                        внепланового ремонта или УТС Автомобиля.
                    </div>
                    <div align="justify">
                        - в случае ДТП, в результате которого Автомобилю были причинены повреждения
                        по вине Арендатора, Арендатор обязуется уплатить расходы в размере 100 %
                        (Сто процентов) от величины ущерба, причиненного Автомобилю при условии
                        отсутствия дополнительной услуги КАСКО.
                    </div>
                    <div align="justify">
                        - в случае выявления сильного загрязнения салона ТС или едкого запаха
                        сигаретного/табачного дыма, пепла, окурков, алкоголя или прочих ядовитых и
                        иных веществ , Арендатор оплачивает химчистку автомобиля, а также штраф в
                        размере суточного платежа аренды, в соответствии Приложение №1.
                    </div>
                    <div align="justify">
                        3.3.10. В случае возникновения простоя (по причине неисправности, ДТП,
                        помещения на спец. автостоянку, административного, уголовного задержания
                        ТС) по вине Арендатора, последний оплачивает каждые сутки простоя
                        автомобиля Арендодателю по тарифу суточной стоимости проката ТС, указанной
                        в Приложении №1, а также несет расходы на эвакуацию и прочее.
                    </div>
                    <div align="justify">
                        3.3.11. В случае повреждения или ДТП Арендатор обязуется немедленно вызвать
                        на место ДТП представителей ГИБДД и уведомить (письменно, по СМС
                        сообщением) Арендодателя о происшествии, а также зафиксировать данные
                        второго участника ДТП (ФИО, адрес, телефон, марку и гос. номер а/м),
                        получить копию документа с подробным перечнем повреждений, получить справку
                        о ДТП, проконтролировать полноту сведений в документах.
                    </div>
                    <div align="justify">
                        3.3.12. В случае повреждений, вызванных стихийным бедствием, утраты
                        автомобиля или действиями третьих лиц (ДТП, кража, хулиганство ит.п.)
                        Арендатор обязуется немедленно обратиться в органы внутренних дел,
                        составить документ с подробным списком повреждений, получить необходимые
                        документы и уведомить Арендодателя о происшествии.
                    </div>
                    <div>
                        3.3.13. В случае утраты, невозможной дальнейшей эксплуатации в результате
                        ДТП по вине Арендатора, в результате передачи ТС в субаренду, передачи
                        права управления третьим лицам, в результате чего произошла утрата
                        автомобиля (ДТП, кража, хищение и т.п.), возместить Арендодателю стоимость
                        автомобиля, указанную в Приложении№1 настоящего договора.
                    </div>
                    <div>
                        3.3.14. В случае, если автомобиль попадает на спецавтостоянку в период
                        действия договора, Арендатор несет расходы на эвакуацию, оплату стоянки все
                        возможные затраты, а также принимает все возможные меры для скорейшего
                        освобождения автомобиля.
                    </div>
                    <div>
                        3.3.15. В случае уклонения от оплаты административных штрафов, вынесенных
                        Арендатору, последний оплачивает штраф Арендодателю в размере одного
                        суточного платежа аренды автомобиля.
                    </div>
                    <div>
                        3.3.16. При утрате или повреждении указанных в акте приема/передачи
                        Приложение №1 принадлежностей, комплектующих автомобиля в момент возврата
                        его Арендодателю, Арендатор обязан доукомплектовать автомобиль утраченными
                        принадлежностями, комплектующими по расценкам, указанным в Приложение №1.
                        <br />
                        3.3.17. В случае не установления лиц, причинивших повреждения автомобилю в
                        результате ДТП, неосторожности, с целенаправленным умыслом причинения вреда
                        автомобилю, утраты автомобиля, кражи, хищения, угона, мошенничества с
                        правом присвоения собственности, в течение 7(семи) дней, с даты причинения
                        вреда или утраты автомобиля, Арендатор обязуется возместить Арендодателю
                        стоимость автомобиля, указанную в Приложении№1 настоящего договора при
                        условии отсутствия покупки дополнительной услуги КАСКО.
                    </div>
                    <div>
                        3.3.18. Если недостатки арендованного имущества явились следствием
                        нарушения арендатором правил эксплуатации и содержания имущества, арендатор
                        оплачивает арендодателю стоимость ремонта и транспортировки имущества.
                    </div>
                    <div align="justify">
                        3.3.19. Во время эксплуатации ТС обеспечить целостность и сохранность
                        пломбы-наклейки согласно Приложению №1.
                    </div>
                    <div align="justify">
                        3.3.20. Арендатор обязуется немедленно информировать Арендодателя о
                        повреждении или срабатывании пломбы-наклейки.
                    </div>
                    <div align="justify">
                        3.3.21. Предоставить Арендодателю актуальные сведения о себе, а также
                        сообщать об изменениях документов, сведений о себе на период действия
                        текущего договора.
                    </div>
                    <div>
                        <strong>3.4. Арендатор имеет право:</strong>
                    </div>
                    <div>
                        3.4.1. Потребовать замену на свободный автомобиль идентичного класса из
                        автопарка Арендодателя, если автомобиль, находящийся в аренде оказался
                        технически неисправен, а так же потребовать возврата средств потраченных на
                        заправку топливом автомобиля.
                    </div>
                    <div>
                        3.4.2. На ограничение ответственности в случаях причинения ущерба
                        автомобилю при любых обстоятельствах при условии покупки дополнительной
                        услуги КАСКО на время проката ТС согласно Приложению №1. Подтверждением
                        покупки дополнительно й услуги КАСКО является кассовый чек от Арендодателя.
                        В случае происшествия и активации услуги КАСКО, Арендатор оплачивает сумму
                        франшизы КАСКО которая составляет от 30000 рублей и зависит от модели ТС, а
                        так же простой транспортного средства за 30 полных суток по тарифу
                        указанному в Приложении №1.
                    </div>
                    <div>
                        3.4.3. Вскрыть пломбу-наклейку строго после согласования с Арендодателем,
                        если имеются основательные причины (требуется ремонт ТС если ТС находится
                        более 50 км от г.Тюмень) для ее вскрытия. Перед вскрытием пломбы-наклейки
                        предоставить доказательства (фото и др.) причин.
                    </div>
                    <div>
                        <strong>4. Расчеты по Договору</strong>
                    </div>
                    <div>
                        4.1. Оплата аренды автотранспортного средства установлена настоящим
                        Договором в виде фиксированного <em><u>ежесуточного и почасового</u></em>
                        платежа указанного в акте приема-передачи <strong>(Приложение №1).</strong>
                    </div>
                    <div>
                        4.2. Оплата аренды автомобиля уплачивается Арендатором в начале срока
                        проката (предоплата) и производится не менее чем за сутки вперед до
                        подписания акта приема-передачи <strong>(Приложение №1)</strong>.
                        <br />
                        4.3. Арендатор оплачивает аренду автотранспортного средства на основании
                        настоящего Договора.
                        <br />
                        4.4. В случае нарушения Арендатором сроков оплаты аренды, указанных в п.
                        4.2 настоящего договора, Арендодатель оставляет за собой право начислить
                        пени в размере 50% (пятьдесят) от <em><u>ежесуточного</u></em> платежа,
                        указанного в <strong>Приложении №1 </strong>и потребовать оплаты денежной
                        задолженности, а Арендатор обязуется оплатить Арендодателю на основании
                        выставленного счета денежную задолженность в 100% (сто) с учетом пеней в
                        течение 3-х рабочих дней. Арендодатель может по своему усмотрению:
                    </div>
                    <div>
                        - использовать либо не использовать свое право на взыскание неустоек,
                        предусмотренных договором и определить срок их предъявление;
                    </div>
                    <div>
                        - установить период в течение, которого начисляются и (или) взыскиваются
                        неустойки;
                    </div>
                    <div>
                        - взыскать полностью или уменьшить размер неустоек, предусмотренных
                        настоящим договором.
                    </div>
                    <div>
                        4.5. Оплата аренды может быть изменена Арендодателем в одностороннем
                        порядке в случае изменения согласованного маршрута Арендатором.
                    </div>
                    <div>
                        <strong>5. Ответственность</strong>
                    </div>
                    <div align="justify">
                        5.1. Арендатор несет полную материальную и правовую ответственность за
                        автомобиль, а также за причиненный ему вред (как умышленно, так и по
                        неосторожности) по своей вине и по вине третьих лиц.
                    </div>
                    <div>
                        5.2. Арендатор несет ответственность за состояние лакокрасочного покрытия,
                        комплектацию автомобиля указанную в акте приема/передачи <strong>Приложение №1</strong>, состояние
                        салона, а так же
                        за небрежную
                        эксплуатацию агрегатов транспортного.
                        <br />
                        5.3. Арендатор несет ответственность за своевременную уплату аренды
                        автомобиля, согласованную территорию эксплуатации, а так же допуск лиц к
                        управлению автомобилем.
                    </div>
                    <div align="justify">
                        5.4. Если нарушен один из п. 5.4.1 – 5.4.3 настоящего договора,
                        Арендодатель рассматривает данные действия как завладение имуществом
                        (автомобилем) путем обмана, злоупотребления доверием Арендодателя –
                        мошенничество, в этом случае Арендатор обязуется уплатить штраф
                        Арендодателю в тройном размере суточного платежа аренды автомобиля согласно <strong>Приложению
                            №1</strong>;
                    </div>
                    <div align="justify">
                        5.4.1. Если Арендатор использует автомобиль без оплаты, а так же по
                        окончанию оплаты проката или в день возврата автомобиля, Арендатор не
                        отвечает на оставленные в договоре номера телефонов или недоступен по
                        дополнительным каналам связи Viber,WhatsApp,Telegram, email;
                    </div>
                    <div align="justify">
                        5.4.2. Если Арендатор самовольно, без согласования с Арендодателем
                        использует автомобиль за пределами г. Тюмень (на расстоянии свыше 100 км от
                        г. Тюмень) а также за пределами территорию Российской Федерации.
                    </div>
                    <div align="justify">
                        5.4.3. Если Арендатор препятствует Арендодателю изъятию автомобиля
                        каким-либо способом, не возвращая ключи зажигания, документы на автомобиль,
                        брелоки включения/отключения охранных систем, препятствует доступу к
                        автомобилю физической и моральной силой;
                    </div>
                    <div align="justify">
                        5.4.4. Если Арендатор самовольно оставляет автомобиль без согласования
                        Арендодателя, без подписания акта приема/передачи, скрывается и уклоняется
                        от звонков, личного контакта, а также отказывается от выполнения своих
                        обязательств по настоящему договору.
                    </div>
                    <div align="justify">
                        5.5. Арендатор не несет ответственность за повреждения, вызванные
                        обстоятельствами, находящимися вне его контроля, такими как сколы и
                        царапины от камней, возникающие в процессе целевого использования
                        автомобиля.
                    </div>
                    <div align="justify">
                        <strong>
                            5.6. Арендатор несет ответственность за умышленное воздействие,
                            приводящее к повреждению или срабатыванию пломбы-наклейки. Ее подмена,
                            приведет к удержанию залоговой суммы, обязательной уплате диагностики
                            автомобиля и в случае выявления стороннего вмешательства в техническое
                            состояния ТС уплате расходных материалов, запасных частей. *
                        </strong>
                    </div>
                    <div>
                        5.6. Арендодатель не несет ответственности за материальные и прочие
                        ценности, оставленные в салоне автомобиля Арендатором при принудительном
                        изъятии, эвакуации и простое автомобиля. В данном случае удерживается
                        предоплата в 100% объеме за аренду автомобиля в пользу Арендодателя.
                    </div>
                    <div>
                        5.7. Все споры, возникающие в ходе, исполнения настоящего Договора,
                        разрешаются путем ведения переговоров, при невозможности их разрешения
                        рассматриваются в судебном порядке в Ленинском районном суде г. Тюмени.
                        Срок рассмотрения и ответа на претензию составляет 10 дней с момента ее
                        получения
                    </div>
                    <div>
                        5.9. В случае нарушения пункта 3.3.21. Арендатор уплачивает штраф
                        Арендодателю в тройном размере суточного платежа аренды автомобиля согласно <strong>Приложению
                            №1</strong>;
                    </div>
                    <div>
                        <strong>6. Дополнительные условия</strong>
                    </div>
                    <div>
                        6.1. Любые изменения и дополнения к настоящему Договору имеют юридическую
                        силу только в том случае, если выполнены в письменной форме и подписаны
                        каждой из сторон по Договору.
                    </div>
                    <div>
                        6.2. Стороны согласились с тем, что Договор, акт и дополнения к данному
                        Договору, заключенные посредством факсимильной и/или электронной связи,
                        имеют юридическую силу при условии последующего обмена оригиналами.
                    </div>
                    <div>
                        6.3. Стоимость дополнительных услуг оплачивается отдельно по следующим
                        тарифам: подача и прием ТС с 9:00-21:00 от 300 рублей с 21:00-9:00 от 450
                        рублей в зависимости от удаленности стоянки Арендодателя а так же по адресу
                        г. Тюмень, ул. Дмитрия Менделеева, д.18, мойка авто от 600р.
                    </div>
                    <div>
                        6.4. Настоящий Договор составлен на русском языке в двух экземплярах для
                        каждой из сторон и имеющих одинаковую юридическую силу.
                    </div>
                    <div>
                        <a name="_GoBack"></a>
                        <em><strong>*</strong></em>
                        <em>
                            <strong> Основные признаки воздействия на пломбу-наклейку:</strong>
                        </em>
                        <em>
                            <br />
                            Фактами воздействия на пломбу-наклейку (ее срабатывания) в зависимости
                            от их типа являются: красный цвет пломбы-наклейки станет не однородным
                            (изменит цвет) в месте воздействия, либо проявится индикаторная надпись
                            «OPENED! ВСКРЫТО! СИЛтэк SILtech», либо проявится черная термохромная
                            сетка, либо изменится структура, форма, целостность пломбы-наклейки.
                        </em>
                        <br />
                        <strong>
                            7. Юридические адреса, банковские реквизиты, подписи сторон
                        </strong>
                    </div>
                    <table width="945" cellpadding="9" cellspacing="0" class="fsz_b">
                        <colgroup>
                            <col width="454" />
                            <col width="454" />
                        </colgroup>
                        <tbody>
                            <tr valign="top">
                                <td width="454">
                                    <div align="left">
                                        <strong>Арендодатель:</strong>
                                        <strong> ООО «</strong>
                                        <strong>BBC</strong>
                                        <strong>-ВЕБ»</strong>
                                    </div>
                                    <div align="left">
                                        ИНН 7203356189 КПП 720301001 ОГРН 1157232033716
                                        <br />
                                        Адрес регистрации/Почтовый адрес:
                                    </div>
                                    <div align="left">
                                        625033, г. Тюмень, ул. Дмитрия Менделеева, д. 18, офис 304
                                    </div>
                                    <div align="left">
                                        <a name="OLE_LINK1"></a>
                                        Тел. +7 (3452) 388-311
                                        <br />
                                        email:
                                        <u>
                                            <a href="mailto:info@autoprokat72.ru">
                                                info@autoprokat72.ru
                                            </a>
                                        </u>
                                    </div>
                                </td>
                                <td width="454">
                                    <div align="left">
                                        <strong>Арендатор: {{currentClientFiz.surname}} {{currentClientFiz.name}}
                                            {{currentClientFiz.lastname}}</strong>
                                    </div>
                                    <div align="left">
                                        дата рождения: <strong>{{currentClientFiz.date_birth | date :
                                            'dd.MM.yyyy'}}</strong>
                                    </div>
                                    <div align="left">
                                        паспорт: серия <strong>{{currentClientFiz.passport_seria}}
                                            №{{currentClientFiz.passport_number}}</strong>
                                    </div>
                                    <div align="left">
                                        выдан
                                        <strong>
                                            {{currentClientFiz.passport_who_take}}
                                        </strong>
                                        <strong> ,</strong>
                                        дата выдачи: <strong>{{currentClientFiz.passport_date | date :
                                            'dd.MM.yyyy'}}</strong>
                                    </div>
                                    <div align="left">
                                        регистрация:
                                        <strong>
                                            {{currentClientFiz.passport_register}}
                                        </strong>
                                        <strong>, </strong>
                                        водительское удостоверение: <strong>{{currentClientFiz.prava_seria}} №
                                            {{currentClientFiz.prava_number}}</strong><strong>, </strong>дата выдачи:
                                        <strong>{{currentClientFiz.prava_date}}г</strong>
                                    </div>
                                    <div align="left">
                                        фактический адрес проживания (пребывания):
                                        <strong>{{currentClientFiz.passport_address_fact}}</strong>
                                    </div>
                                    <div align="left">
                                        контактный номер
                                        телефона:<strong>{{currentClientFiz.phone_1}}</strong><strong>,</strong>
                                        доп.:
                                        тел.<strong>{{currentClientFiz.phone_2_dop_number}}</strong>,
                                        тел.<strong>{{currentClientFiz.phone_3_dop_number}}</strong>,
                                        тел.<strong>{{currentClientFiz.phone_4_dop_number}}</strong>,
                                        тел.<strong>{{currentClientFiz.phone_5_dop_number}}</strong>,
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        
        
        <button type="submit" class="submit" [disabled]="form.invalid" (click)="generatePDF()"><i class="pi pi-check"></i> Сохранить</button>
    </form>
</div>





