
<p-toast></p-toast>
<div class="auth_page">
    <div class="container">
        <div class="auth_page_content">
            <div><img src="../../../../assets/img/auth_img.svg" alt="Изображение"></div>
        
            <div class="auth_page_form">
                <div class="auth_page_form_content">
                    <h1>АВТОРИЗАЦИЯ</h1>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <input placeholder="Введите E-mail"  id="email" type="email" formControlName="email" 
                        [ngClass]="{'invalid': form.controls['email'].invalid && form.controls['email'].touched}"
                        (input)="onValidValue($event)">
                        
                        
                        <input placeholder="Введите пароль" id="password" type="password" formControlName="password" 
                        [ngClass]="{'invalid': form.controls['password'].invalid && form.controls['password'].touched}"
                        (input)="onValidValue($event)">
                        
                        <button type="submit">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







