
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector$ | async"></loader>

<div class="auth_page">
    <div class="container">
        <div class="auth_page_content">
            <div><img src="../../../../assets/img/auth_img.svg" alt="Изображение"></div>
        
            <div class="auth_page_form">
                <div class="auth_page_form_content">
                    <h1>АВТОРИЗАЦИЯ</h1>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <input placeholder="Введите E-mail"  id="email" type="email" formControlName="email" 
                        [ngClass]="{'invalid': form.controls['email'].invalid && form.controls['email'].touched}">

                            <div class="errorValidate" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                                <p *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">
                                    Email не должен быть пустым
                                </p>
                            
                                <p *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">
                                    Введите корректный Email
                                </p>
                            </div>
                        
                        
                        <input placeholder="Введите пароль" id="password" type="password" formControlName="password" 
                        [ngClass]="{'invalid': form.controls['password'].invalid && form.controls['password'].touched}">
                        
                            <div class="errorValidate" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                                <p *ngIf="form.controls['password'].errors && form.controls['password'].errors['required']">
                                    Пароль не должен быть пустым
                                </p>
                            
                                <p *ngIf="form.controls['password'].errors && form.controls['password'].errors['minlength']">
                                    Минимальная длина пароля 6 символов
                                </p>
                            </div>
                        
                        <button type="submit" [disabled]="form.invalid">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







