.auth_layout_top
{
    background-color: #194A9E;
    padding: 10px 0;
}

.auth_layout_top__content
{
    display: flex;
    justify-content: space-between;
}


.auth_layout_top__content div:last-child
{
    display: flex;
    align-items: center;
}

.auth_layout_top__content div:last-child a
{
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    border: 1px solid #fff;
    text-align: center;
    transition: all 0.3s;
}

.auth_layout_top__content div:last-child a:hover {
    color: #194A9E;
    background-color: #fff;
    transition: all 0.3s;
}

.auth_layout_top__content div:last-child a:first-child
{
    margin-right: 15px;
}

.auth_layout_main__content
{
    display: flex;
    justify-content: center;
}