<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<div class="clientsList" *ngIf="clientsFizList">
    <div class="top_line">
        <div>
            <div style="display: flex;">
                <div class="active" style="margin-bottom: 30px; text-align: center; margin-right: 40px;">ФИЗИЧЕСКИЕ ЛИЦА</div>
                <div  style="margin-bottom: 30px; text-align: center;" (click)="toggleOnClientsLaw()">ЮРИДИЧЕСКИЕ ЛИЦА</div>
            </div>
            


            <span class="xs_add_client_modal_button" (click)="modalAddClientFizClick()">Создать</span>
            


            <p-dialog [(visible)]="isVisibleAddModalClientFiz" [style]="{width: '95vw', height: '95vh'}" [modal]="true" [maximizable]="true">
                <app-add-client-fiz [fromAddBooking]="true" (clientAddStatus)="clientAddStatus($event)"></app-add-client-fiz>
            </p-dialog>
        </div>
        

        <div>
            <input type="text" (keyup)="search($event)" placeholder="Введите для поиска...">
        </div>
    </div>


    <div class="dogovor_no_active" *ngIf="this.dogovor_active === 'no_active'" style="margin-bottom: 40px;">
        Клиент {{this.currentClient.surname}} {{this.currentClient.name}} {{this.currentClient.lastname}} не имеет активного договора
        <span  (click)="modalClientAddDogovor()">Создать договор</span>

        <p-dialog [(visible)]="isVisibleModalClient" [style]="{width: '80vw'}" [modal]="true">
            <app-add-dogovor-client-fiz *ngIf="this.currentClient.type === 'fiz'"  [clientId]="this.currentClientId"  (resultDogovor)="resultDogovor($event)"></app-add-dogovor-client-fiz>
        </p-dialog>
    </div>


    <p-table *ngIf="!hasQuery" [value]="clientsFizList" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">
       
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-client>
            <tr (click)="changeClient(client)">
                <td><strong>{{client.surname}} {{client.name}} {{client.lastname}}</strong></td>
                <td>{{client.phone_1}}</td>
            </tr>
        </ng-template>
    </p-table>

    <p-table *ngIf="hasQuery && clientsFizSearch" [value]="clientsFizSearch"
        styleClass="p-datatable-gridlines list_table" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="table_top">
                <div class="add_new" [routerLink]="['/add-client-fiz']">
                    <p-button icon="pi pi-plus"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-client>
            <tr (click)="changeClient(client)">
                <td><strong>{{client.surname}} {{client.name}} {{client.lastname}}</strong></td>
                <td>{{client.phone_1}}</td>
            </tr>
        </ng-template>
    </p-table>




   




    <div *ngIf="clientsFizList.length === 0" class="noMoreClientsList">
        <h2>Клиентов не найдено...</h2>
    </div>




    <div *ngIf="hasQuery && clientsFizSearch && clientsFizList.length === 0" class="noMoreClientsList">
        <h2>Клиентов не найдено...</h2>
    </div>




    <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreClientsFizList | async) && !hasQuery" (click)="loadmore()"></p-button>
    </div>
</div>