
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<div class="clientsList" *ngIf="clientsList">
    <div class="top_line">
        <div>
            <span class="active">Все клиенты</span>
        </div>

        <div>
            <input type="text" (keyup)="search($event)" placeholder="Введите для поиска...">
        </div>
    </div>


    <p-table *ngIf="!hasQuery" [value]="clientsList" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">
       
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-client>
            <tr (click)="changeClient(client)">
                <td><strong>{{client.surname}} {{client.name}} {{client.lastname}}</strong></td>
                <td>{{client.phone_1}}</td>
            </tr>
        </ng-template>
    </p-table>

    <p-table *ngIf="hasQuery && clientsSearch" [value]="clientsSearch"
        styleClass="p-datatable-gridlines list_table" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="table_top">
                <div class="add_new" [routerLink]="['/add-client-fiz']">
                    <p-button icon="pi pi-plus"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-client>
            <tr (click)="changeClient(client)">
                <td><strong>{{client.surname}} {{client.name}} {{client.lastname}}</strong></td>
                <td>{{client.phone_1}}</td>
            </tr>
        </ng-template>
    </p-table>

    <div class="dogovor_no_active" *ngIf="this.dogovor_active === 'no_active'">
        Клиент не имеет активного договора
        <span  (click)="modalClientClick()">Создать договор</span>

        <p-dialog [(visible)]="isVisibleModalClient" [style]="{width: '80vw'}" [modal]="true">
            <app-add-dogovor-client-fiz *ngIf="this.currentClient.type === 'fiz'"  [clientId]="this.currentClientId"  (resultDogovor)="resultDogovor($event)"></app-add-dogovor-client-fiz>
            <app-add-dogovor-client-law *ngIf="this.currentClient.type === 'law'"  [clientId]="this.currentClientId"  (resultDogovor)="resultDogovor($event)"></app-add-dogovor-client-law>
        </p-dialog>
    </div>

    <div *ngIf="clientsList.length === 0" class="noMoreClientsList">
        <h2>Клиентов не найдено...</h2>
    </div>

    <div *ngIf="hasQuery && clientsSearch && clientsSearch.length === 0" class="noMoreClientsList">
        <h2>Клиентов не найдено...</h2>
    </div>

    <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreClientsList | async) && !hasQuery"
            (click)="loadmore()"></p-button>
    </div>
</div>