<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<div class="clientsLawList" *ngIf="clientsLawList">
    <div class="top_line">
        <div>
            <span [routerLink]="['/list-clients-fiz']">Физические лица</span>
            <span class="active" >Юридические лица</span>
        </div>

        <div>
            <input type="text" (keyup)="searchClientLaw($event)" placeholder="Введите для поиска...">
        </div>
    </div>
    

    <p-table *ngIf="!hasQuery" [value]="clientsLawList" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption" >
            <div class="table_top">
                <div class="add_new" [routerLink]="['/add-client-law']">
                    <p-button icon="pi pi-plus"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Организация</th>
                <th>Руководитель</th>
                <th>Телефон</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-clientLaw>
            <tr [routerLink]="['/show-client-law',clientLaw._id]">
                <td><strong>{{clientLaw.short_name}} {{clientLaw.name}}</strong></td>
                <td>{{clientLaw.boss_surname}} {{clientLaw.boss_name}} {{clientLaw.boss_lastname}}</td>
                <td>{{clientLaw.phone_1}}</td>
                <td style="cursor: pointer; text-align: center;" (click)="onDeleteClientLaw($event, clientLaw)"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>

    <p-table *ngIf="hasQuery && clientsLawSearch" [value]="clientsLawSearch" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="table_top">
                <div class="add_new" [routerLink]="['/add-client-law']">
                    <p-button icon="pi pi-plus"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Организация</th>
                <th>Руководитель</th>
                <th>Телефон</th>
                <th></th>
            </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-clientLaw>
            <tr [routerLink]="['/show-client-law',clientLaw._id]">
                <td><strong>{{clientLaw.short_name}} {{clientLaw.name}}</strong></td>
                <td>{{clientLaw.boss_surname}} {{clientLaw.boss_name}} {{clientLaw.boss_lastname}}</td>
                <td>{{clientLaw.phone_1}}</td>
                <td style="cursor: pointer; text-align: center;" (click)="onDeleteClientLaw($event, clientLaw)"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="clientsLawList.length === 0" class="noMoreClientsLawList">
        <h2>Нет клиентов...</h2>
    </div>

    <div *ngIf="hasQuery && clientsLawSearch && clientsLawSearch.length === 0" class="noMoreClientsLawList">
        <h2>Клиентов не найдено...</h2>
    </div>

    <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreClientsLawList | async) && !hasQuery" (click)="loadmore()"></p-button>
    </div>
</div>