.clientsFizList {
    padding: 0 20px;
}

.btn {
    margin-top: 20px;
}

.noMoreClientsFizList {
    margin-top: 20px;
}

td {
    cursor: pointer;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.search
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.search input
{
    outline: none;
    padding: 13px 35px 13px 20px;
    border: none;
    background-color: #3B82F6;
    border-radius: 3px;
    color: #fff;
}

.search input::placeholder {
    outline: none;
    padding: 15px 5px;
    border: none;
    background-color: #3B82F6;
    border-radius: 3px;
    color: #fff;
}