<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector$ | async"></loader>



<div class="add-act-booking show-act-booking" *ngIf="currentAct" style="padding: 40px 40px;">
    <form>

        <!-- Если не нужно отключать инкапсуляцию то использую safeHtml -->
        <div [innerHTML]="currentAct.content" id="content" #content></div>


        <div style="padding: 40px 0px;">
            <!-- <button type="submit" class="submit" (click)="generatePDF()"><i class="pi pi-download"></i> Скачать</button> -->
            <button type="submit" class="submit" (click)="generatePdf(currentAct.content,'doc.pdf')"><i class="pi pi-download"></i> Скачать</button>
        </div>
       
    </form>
</div>