.add-dogovor-clientFiz {
    padding: 0 20px;
    overflow: hidden;
}


.add-dogovor-clientFiz form>div {
    margin-bottom: 40px;
}


.show-act-booking
{
    padding: 20px 40px;
}

.add-act-booking table
{
    width: 100% !important;
    margin: 0;
    padding: 0;
}
.add-act-booking td
{
    width: 50%;
    border: 1px solid #000 !important;
    padding: 5px;
    line-height: 110%;
    font-size: 18px;
}

.xs_table_div
{
    border: 1px solid #000;
    padding: 5px;
    line-height: 110%;
    font-size: 21px;
    width: 99.8%;
    margin: 0 auto;
    margin-top: 5px;
    
}


label {
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
}



.add_clientFiz_inputs fieldset {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.errorValidate {
    display: inline-block;
    color: #fff;
    padding-left: 0px;
    color: #FF2400;
    text-align: left;
    font-size: 12px;
    margin-right: 10px;
    position: absolute;
    top: 16px;
}


.dn {
    display: none;
}






p-togglebutton {
    margin-right: 15px;
    margin-top: 15px;
}

/* p-togglebutton > div
{
    height: 45px !important;
} */

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: transparent;
    color: #495057;
    outline: none;
}


fieldset {
    margin-bottom: 30px;
}





button {
    color: #ffffff;
    background: #3B82F6;
    border: 1px solid #3B82F6;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    cursor: pointer;
}

button:disabled {
    cursor: default !important;
    pointer-events: none;
    opacity: 0.6;
}

.submit {
    margin-top: 10px;
}




.xs_block_5_t_1 td
{
    width: 33%;
}



.xs_block_6_t td
{
    width: 20%;
}



.xs_block_7_t_1 td
{
    width: 10% ;
}


.xs_block_6_t td:first-child
{
    width: 5%;
}


.xs_block_6_t tbody tr
{
    height: 35px;
}


.xs_block_8 tr
{
    height: 35px;
}