<app-header-app-layout [title]="title"></app-header-app-layout>
<loader *ngIf="isLoadingSelector$ | async"></loader>

<div class="account_page" *ngIf="currentUser">
    <form [formGroup]="form" (ngSubmit)="onSubmitProfile()">
        <div class="avatar">
            <img [src]="[avatar]" alt="Изображение">

            <div class="upload_btns">
                <input type="file" class="dn" #upload (change)="onFileUploadAvatar($event)">
                <p-button label="Изменить" icon="pi pi-cloud-upload" styleClass="p-button-warning p-button-sm" (click)="triggerClickForUploadAvatar()"></p-button>
            </div>
        </div>

        <div class="account_page_inputs">
            <fieldset>
                <input pInputText formControlName="email" pKeyFilter="email" placeholder="Введите Email"
                    [ngClass]="{'ng-invalid ng-dirty': form.controls['email'].invalid && form.controls['email'].touched}" />
                
                
                <div class="errorValidate" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                    <p *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">
                        Email не должен быть пустым
                    </p>
                
                    <p *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">
                        Введите корректный Email
                    </p>
                </div>
            </fieldset>

            <fieldset>
                <input pInputText formControlName="phone"  placeholder="Введите Телефон" [ngClass]="{'ng-invalid ng-dirty': form.controls['phone'].invalid && form.controls['phone'].touched}" />

                <div class="errorValidate" *ngIf="form.controls['phone'].invalid && form.controls['phone'].touched">
                    <p *ngIf="form.controls['phone'].errors && form.controls['phone'].errors['required']">
                        Телефон не должен быть пустым
                    </p>
                </div>
            </fieldset>

            <fieldset>
                <input pInputText formControlName="password" placeholder="Новый пароль" />
            </fieldset>

            <fieldset>
                <input pInputText formControlName="secondName" placeholder="Введите Фамилия"
                    [ngClass]="{'ng-invalid ng-dirty': form.controls['secondName'].invalid && form.controls['secondName'].touched}" />
            
                <div class="errorValidate" *ngIf="form.controls['secondName'].invalid && form.controls['secondName'].touched">
                    <p *ngIf="form.controls['secondName'].errors && form.controls['secondName'].errors['required']">
                        Фамилия не должна быть пустой
                    </p>
                </div>
            </fieldset>

            <fieldset>
                <input pInputText formControlName="name" placeholder="Введите Имя" [ngClass]="{'ng-invalid ng-dirty': form.controls['name'].invalid && form.controls['name'].touched}" />

                <div class="errorValidate" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
                    <p *ngIf="form.controls['name'].errors && form.controls['name'].errors['required']">
                        Имя не должно быть пустым
                    </p>
                </div>
            </fieldset>

            <fieldset>
                <input pInputText formControlName="lastName" placeholder="Введите Отчество" [ngClass]="{'ng-invalid ng-dirty': form.controls['lastName'].invalid && form.controls['lastName'].touched}" />

                <div class="errorValidate" *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched">
                    <p *ngIf="form.controls['lastName'].errors && form.controls['lastName'].errors['required']">
                        Отчество не должно быть пустым
                    </p>
                </div>
            </fieldset>

            <fieldset>
                <input pInputText formControlName="doverenostNumber" placeholder="Номер доверенности" [ngClass]="{'ng-invalid ng-dirty': form.controls['doverenostNumber'].invalid && form.controls['doverenostNumber'].touched}" />

                <div class="errorValidate" *ngIf="form.controls['doverenostNumber'].invalid && form.controls['doverenostNumber'].touched">
                    <p *ngIf="form.controls['doverenostNumber'].errors && form.controls['doverenostNumber'].errors['required']">
                        Номер не должен быть пустым
                    </p>
                </div>
            </fieldset>

            <fieldset>
                <input type="date" pInputText formControlName="doverenostDate" placeholder="Дата доверенности" [ngClass]="{'ng-invalid ng-dirty': form.controls['doverenostDate'].invalid && form.controls['doverenostDate'].touched}" />

                <div class="errorValidate"
                    *ngIf="form.controls['doverenostDate'].invalid && form.controls['doverenostDate'].touched">
                    <p *ngIf="form.controls['doverenostDate'].errors && form.controls['doverenostDate'].errors['required']">
                        Введите дату
                    </p>
                </div>
            </fieldset>

            <p-button label="Сохранить" type="submit" class="submit" icon="pi pi-check" [disabled]="form.invalid"></p-button>

        </div>
    </form>
</div>
