.account_page
{
    padding: 0 20px;
}

.avatar
{
    margin-right: 30px;
}

.avatar img
{
    width: 150px;
    border-radius: 5px;
}

.account_page_inputs fieldset
{
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.account_page form
{
    display: flex;
    justify-content: space-between;
}

.account_page form input
{
    margin-right: 15px;
    margin-top: 15px;
}


.errorValidate {
    display: inline-block;
    color: #fff;
    padding-left: 0px;
    color: #FF2400;
    text-align: left;
    font-size: 12px;
    margin-right: 10px;
    position: absolute;
    top: -4px;
}


.dn
{
    display: none;
}

.token_btn
{
    position: absolute;
    top: 15px;
    right: 158px;
    transform: scale(0.9);
    display: flex;
    align-items: center;
}

.api_helper
{
    padding: 0 20px;
    margin-top: 20px;
}



.api_helper__content > div
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.api_helper__content > div > span
{
    width: 49.9%;
    border: 1px solid #111111;
    padding: 5px;
}

.api_item_title
{
    background-color: #3B82F6;
    color: #fff;
    padding: 3px;
}

.xs_info
{
    background-color: #333;
    color: #fff;
    margin-right: 10px;
    padding: 4px 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.api_server_title
{
    font-weight: 800;
}