<app-header-app-layout [title]="'Все платежи'"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>

<!-- Фильтры по датам -->
<div class="date-filters">
    <h2>Выберите интервал для отчета:</h2>

    <div>
        <label>
            От:
            <input type="date" [(ngModel)]="startDate">
        </label>

        <label>
            До:
            <input type="date" [(ngModel)]="endDate">
        </label>

        <button type="button" class="reset" (click)="reset()">Сбросить</button>
    </div>

   
</div>

<!-- Скачать отчёт по фильтру -->
<span class="xs_download_stat"
      (click)="generatePdf(content, 'Отчет_' + startDate + '_' + endDate + '.pdf')">
  Скачать отчёт <i class="pi pi-cloud-download" style="margin-left: 10px;"></i>
</span>

<!-- Контент отчёта -->
<div class="pays_list" #content *ngIf="filteredPaysList.length">
  <div class="pays_list_info">
    <h2>Общая информация о платежах и финансам <span *ngIf="!startDate && !endDate"> за все время</span> <span *ngIf="startDate && endDate">от {{startDate | date:'dd.MM.yyyy'}} до {{endDate | date:'dd.MM.yyyy'}}</span></h2>
    <table class="xs_striped" style="table-layout: fixed; width: 100%;">
      <thead>
        <tr>
          <th>Сумма терминал</th>
          <th>Сумма наличные</th>
          <th>Сумма на карту</th>
          <th>Сумма на р/с</th>
          <th>Сумма залогов</th>
          <th>Общий приход (<small>Без залогов</small>)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ calculateSumByType('Терминал') }} руб</td>
          <td>{{ calculateSumByType('Наличные') }} руб</td>
          <td>{{ calculateSumByType('На карту') }} руб</td>
          <td>{{ calculateSumByType('р/с') }} руб</td>
          <td>{{ calculateTotalDeposits() }} руб</td>
          <td style="font-size: 23px;">{{ calculateTotalIncome() }} руб</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Если нет платежей за период -->
<div *ngIf="!filteredPaysList.length" class="noMorePaysList">
  <p class="xs_not_pays_list">Нет платежей за выбранный период...</p>
</div>
