<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<div class="settings" *ngIf="settingsAvtoparkList">
    <p-table [value]="settingsAvtoparkList" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">

        <ng-template pTemplate="caption" style="display: flex;">
            <div  class="add_new "  >
                <p-button [disabled]="!settingsAvtoparkList || settingsAvtoparkList.length > 0" [ngClass]="{'disabled': !settingsAvtoparkList || settingsAvtoparkList.length > 0}"  [routerLink]="['/add-setting-avtopark']"  label="Создать настройки автопарка" icon="pi pi-plus"></p-button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Тип</th>
                <th></th>
            </tr>
        </ng-template>


        <ng-template pTemplate="body" let-settingAvtopark>
            <tr [routerLink]="['/show-settings-avtopark',settingAvtopark._id]">
                <td>{{settingAvtopark.title}}</td>
                <td style="cursor: pointer; text-align: center;" (click)="onDeleteSettingsAvtopark($event, settingAvtopark)"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>

    </p-table>

    

    <div *ngIf="settingsAvtoparkList.length === 0" class="noMoreSettingAvtoparkList">
        <h2>Нет настроек для автопарка...</h2>
    </div>

    <!-- <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreSettingsAvtoparkList | async)" (click)="loadmore()"></p-button>
    </div> -->
</div>


<div class="settings" *ngIf=" settingsSkladList">
    <p-table [value]="settingsSkladList" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">

        <ng-template pTemplate="caption" style="display: flex;">
            <div  class="add_new ">
                <p-button [disabled]="!settingsSkladList || settingsSkladList.length > 0"  [ngClass]="{'disabled': !settingsSkladList || settingsSkladList.length > 0}"  [routerLink]="['/add-setting-sklad']" label="Создать настройки склада" icon="pi pi-plus"></p-button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Тип</th>
                <th></th>
            </tr>
        </ng-template>


        <ng-template pTemplate="body" let-settingAvtopark>
            <tr [routerLink]="['/show-settings-sklad',this.settingsSkladList[0]._id ? this.settingsSkladList[0]._id : '']">
                <td>{{settingsSkladList[0].title}}</td>
                <td style="cursor: pointer; text-align: center;" (click)="onDeleteSettingsAvtopark($event, settingsSkladList[0])"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>

    </p-table>

    
    <div *ngIf="settingsSkladList.length === 0" class="noMoreSettingAvtoparkList">
        <h2>Нет настроек для склада...</h2>
    </div>

    <!-- <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreSettingsAvtoparkList | async)" (click)="loadmore()"></p-button>
    </div> -->
</div>

