.settings_list {
    padding: 0 20px;
    margin-bottom: 100px;
}


.disabled
{
    opacity: 0.3 !important;
    /* display: none; */
}


.btn {
    margin-top: 20px;
}

.noMoreSettingAvtoparkList {
    margin-top: 20px;
}

td {
    cursor: pointer;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.add_new_wrap
{
    display: flex;
}

.add_new
{
    margin-right: 30px;
    display: inline-block;
}



.settings_item
{
    display: inline-flex;
    align-items: center;
    font-size: 21px;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 10px 20px;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    background-color: #194A9E;
    margin-right: 20px;

}

.settings_item span
{
    padding-bottom: 5px;
}



.settings_item p-button 
{
    margin-right: 10px;
}