.settings {
    padding: 0 20px;
    margin-bottom: 150px;
}


.disabled
{
    opacity: 0.3 !important;
}


.btn {
    margin-top: 20px;
}

.noMoreSettingAvtoparkList {
    margin-top: 20px;
}

td {
    cursor: pointer;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.add_new_wrap
{
    display: flex;
}

.add_new
{
    margin-right: 30px;
    display: inline-block;
}