<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>

<div class="settings_list">

    <div class="settings_item" *ngIf="settingsGlobalList && settingsGlobalList[0]" [routerLink]="['/show-settings-global',settingsGlobalList[0]._id]">
        <p-button [disabled]="!settingsGlobalList || settingsGlobalList.length > 0" [ngClass]="{'disabled': !settingsGlobalList || settingsGlobalList.length > 0}"  [routerLink]="['/add-setting-global']"   icon="pi pi-plus"></p-button>
        <span>Глобальные настройки</span>
    </div>
    

    <div class="settings_item" *ngIf="settingsAvtoparkList && settingsAvtoparkList[0]" [routerLink]="['/show-settings-avtopark',settingsAvtoparkList[0]._id]">
        <p-button [disabled]="!settingsAvtoparkList || settingsAvtoparkList.length > 0" [ngClass]="{'disabled': !settingsAvtoparkList || settingsAvtoparkList.length > 0}"  [routerLink]="['/add-setting-avtopark']"   icon="pi pi-plus"></p-button>
        <span>Настройки автопроката</span>
    </div>

    <div class="settings_item" *ngIf=" settingsSkladList && settingsSkladList[0]" [routerLink]="['/show-settings-sklad',settingsSkladList[0]._id]">
        <p-button [disabled]="!settingsSkladList || settingsSkladList.length > 0"  [ngClass]="{'disabled': !settingsSkladList || settingsSkladList.length > 0}"  [routerLink]="['/add-setting-sklad']" label="" icon="pi pi-plus"></p-button>
        <span>Настройки склада</span>
    </div>

</div>


