<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<div class="clientsFizList" *ngIf="TrustedPersoneList">
    <div class="top_line">

        <div>
            <input type="text" (keyup)="search($event)" placeholder="Введите для поиска...">
        </div>
    </div>
    

    <p-table *ngIf="!hasQuery" [value]="TrustedPersoneList" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption" >
            <div class="table_top">
                <div class="add_new" [routerLink]="['/add-trusted-persone', clientLawId]">
                    <p-button icon="pi pi-plus"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-TrustedPersone>
            <tr [routerLink]="['/show-client-fiz',TrustedPersone._id]">
                <td><strong>{{TrustedPersone.surname}} {{TrustedPersone.name}} {{TrustedPersone.lastname}}</strong></td>
                <td>{{TrustedPersone.phone}}</td>
                <td style="cursor: pointer; text-align: center;" (click)="onDeleteTrustedPerson($event, TrustedPersone)"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>

    <p-table *ngIf="hasQuery && TrustedPersoneSearch" [value]="TrustedPersoneSearch" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="table_top">
                <div class="add_new" [routerLink]="['/add-trusted-persone', clientLawId]">
                    <p-button icon="pi pi-plus"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th></th>
            </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-TrustedPersone>
            <tr [routerLink]="['/show-client-fiz',TrustedPersone._id]">
                <td><strong>{{TrustedPersone.surname}} {{TrustedPersone.name}} {{TrustedPersone.lastname}}</strong></td>
                <td>{{TrustedPersone.phone}}</td>
                <td style="cursor: pointer; text-align: center;" (click)="onDeleteTrustedPerson($event, TrustedPersone)"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="TrustedPersoneList.length === 0" class="noMoreClientsFizList">
        <h2>Нет клиентов...</h2>
    </div>

    <div *ngIf="hasQuery && TrustedPersoneSearch && TrustedPersoneSearch.length === 0" class="noMoreClientsFizList">
        <h2>Клиентов не найдено...</h2>
    </div>

    <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreTrustedPersoneList | async) && !hasQuery" (click)="loadmore()"></p-button>
    </div>
</div>