.list
{
    padding: 0 20px;
}
.btn
{
    margin-top: 20px;
}

.noMoreSmenaList
{
    margin-top: 20px;
}

td
{
    cursor: pointer;
}


/* Стили для кнопки скачивания отчета */
.xs_download_stat {
    display: flex;
    background-color: #3B82F6;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 154px;
    top: 18px;
    height: 41px;
    border-radius: 6px;
    align-items: center;
}