<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<!-- <loader *ngIf="isLoadingSelector | async"></loader> -->



<div class="cars">
    <p-table [value]="carsList" styleClass="p-datatable-gridlines list_table" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="add_new" [routerLink]="['/add-car']">
                <p-button icon="pi pi-plus"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Изображение</th>
                <th>Марка</th>
                <th>Номер</th>
                <th>Категория</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td><img src="{{car.img}}" alt="Изображение" width="100px"></td>
                <td>{{car.marka}}</td>
                <td>{{car.number}}</td>
                <td>{{car.category}}</td>
                <td>{{car.status}}</td>
                <td  style="cursor: pointer; text-align: center;" ><i class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="carsList.length === 0" class="noMoreCarsList">
        <h2>Список смен отсутствует...</h2>
    </div>

    <!-- <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreSmenaList | async)" (click)="loadmore()"></p-button>
    </div> -->
</div>
