<app-header-app-layout [title]="title" [number]="this.currentSmema.order" *ngIf="this.currentSmema"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<span class="xs_download_stat" (click)="generatePdf(this.content, 'Отчет для смены  №' + this.currentSmema?.order + '.pdf')">Скачать отчет <i class="pi pi-cloud-download" style="margin-left: 10px;"></i></span>

<div class="smena_show" *ngIf="this.currentSmema" #content >
    <div class="smena_show_admin_info">
        <table>Номер брони
            <thead>
                <th>Дата открытия</th>
                <th>Ответственный</th>
                <th>Статус</th>
                <th> <span *ngIf="currentSmema.status === 'close'">Дата закрытия</span></th>
            </thead>

            <tbody>
                <td>{{currentSmema.open_date}}</td>
                <td>{{currentSmema.responsible_secondName}} {{currentSmema.responsible_name}} {{currentSmema.responsible_lastName}}</td>
                <td *ngIf="currentSmema.status === 'open'" style="color: green; font-weight: 700;">Открыта</td>
                <td *ngIf="currentSmema.status === 'close'" style="color: red; font-weight: 700;">Закрыта</td>
                <td>
                    <p-button label="Закрыть" styleClass="p-button-danger" (click)="closeSmena($event)" *ngIf="currentSmema.status !== 'close'"></p-button>
                    <span *ngIf="currentSmema.status === 'close'">{{currentSmema.close_date}}</span>
                </td>
            </tbody>
        </table>
    </div>

    <div class="smena_show_bookings_info">
        <h2>Информация о бронях</h2>

        
        <div class="bookings" *ngIf="bookingsList">
            <p-table [value]="bookingsList" styleClass="p-datatable-gridlines list_table"
                [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>№</th>
                        <th>Создана</th>
                        <th>Статус</th>
                        <th>Автомобиль</th>
                        <th>Клиент</th>
                        <th>Начало</th>
                        <th>Конец</th>
                        <th>Суток</th>
                        <th>Выдача</th>
                        <th>Прием</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-booking>
                    <tr [routerLink]="['/show-booking',booking._id]">
                        <td><strong>{{booking.order}}</strong></td>
                        <td>{{booking.date | date : 'dd.MM.yyyy HH:mm'}}</td>
                        <td *ngIf="booking.status === 'В ожидании'" style="background-color: #FFA500; color: #fff; min-width: 135px; text-align: center;">{{booking.status}}</td>
                        <td *ngIf="booking.status === 'В аренде'" style="background-color: #194A9E; color: #fff;  min-width: 135px; text-align: center;">{{booking.status}}</td>
                        <td *ngIf="booking.status === 'Закрыта'" style="background-color: #FF2400; color: #fff;  min-width: 135px; text-align: center;">{{booking.status}}</td>
                        <td>{{booking.car.marka}} {{booking.car.model}}({{booking.car.number}})</td>
                        <td *ngIf="booking.client.surname">{{booking.client.surname}} {{booking.client.name}} {{booking.client.lastname}}</td>
                        <td *ngIf="booking.client.short_name">{{booking.client.short_name}} {{booking.client.name}}</td>
                        <td>{{booking.booking_start | date : 'dd.MM.yyyy HH:mm'}}</td>
                        <td>{{booking.booking_end | date : 'dd.MM.yyyy HH:mm'}}</td>
                        <td>{{booking.booking_days}}</td>
                        <td>{{booking.place_start}}</td>
                        <td>{{booking.place_end}}</td>
                    </tr>
                </ng-template>
            </p-table>

            <div *ngIf="bookingsList.length === 0" class="noMoreBookingsList">
                <p class="xs_not_booking_list">Нет броней...</p>
            </div>
        </div>
    </div>


    <div class="smena_show_pays_info" *ngIf="paysListForSmena">
        <h2>Информация о платежах</h2>


        <p-table [value]="paysListForSmena" styleClass="p-datatable-gridlines list_table"
            [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Дата платежа</th>
                        <th>Сумма</th>
                        <th>Тип</th>
                        <th>Вид</th>
                        <!-- <th>Номер брони</th> -->
                        <th>Клиент</th>
                        <th>Ссылка на бронь</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-pay>
                    <tr >
                        <td><strong>{{pay.date | date : 'dd.MM.yyyy'}}</strong></td>
                        <td><strong>{{pay.pricePay}} руб</strong></td>
                        <td><strong>{{pay.typeMoney}}</strong></td>
                        <td><strong>{{pay.type}}</strong></td>
                        <!-- <td><strong >№{{this.getBookingOrderById(pay.bookingId)}}</strong></td> -->
                        <td><strong >{{this.getBookingClientById(pay.clientId)}}</strong></td>
                        <td><strong [routerLink]="['/show-booking',pay.bookingId]" class="openSmenaLink">Открыть</strong></td>
                    </tr>
                </ng-template>
        </p-table>

        <table class="xs_striped" style="table-layout: fixed; width: 100%;">
            <thead>
              <tr>
                <th>Сумма терминал</th>
                <th>Сумма наличные</th>
                <th>Сумма на карту</th>
                <th>Сумма на р/с</th>
                <th>Сумма залогов</th>
                <th>Общий приход (<small>Без залогов</small>)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ calculateSumByType('Терминал') }} руб</td>
                <td>{{ calculateSumByType('Наличные') }} руб</td>
                <td>{{ calculateSumByType('На карту') }} руб</td>
                <td>{{ calculateSumByType('р/с') }} руб</td>
                <td>{{ calculateTotalDeposits() }} руб</td>
                <td style="font-size: 23px;">{{ calculateTotalIncome() }} руб</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>

