.smena_show
{
    padding: 0 20px;
    /* padding-top: 50px; */
}

thead th
{
    width: 30%;
    text-align: left;
    font-size: 16px;
}

tbody td {
    font-size: 16px;
}

.smena_show_bookings_info
{
    margin-top: 50px;
}

.smena_show_bookings_info td
{
    cursor: pointer;
    text-align: center !important;
}


.xs_not_booking_list
{
    font-size: 18px;
    margin-top: 30px;
}


.smena_show_pays_info
{
    margin-top: 50px;
}


.openSmenaLink
{
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    background-color: #3B82F6;
    color: #fff;
    border-radius: 3px;
}


.xs_striped
{
    margin-top: 50px;
    margin-bottom: 30px;
}

.xs_striped thead
{
    background-color: #EEF2F5;
}


.xs_striped tbody
{
    background-color: #EEF2F5;
}

.xs_striped th, .xs_striped td
{
    padding: 5px;
}


.xs_download_stat {
    display: flex;
    background-color: #3B82F6;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 154px;
    top: 18px;
    height: 41px;
    border-radius: 6px;
    align-items: center;
}