<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<div class="clientFizListDogovors" *ngIf="clientFizListDogovors">
    <p-table [value]="clientFizListDogovors" styleClass="p-datatable-gridlines list_table"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="add_new" [routerLink]="['/add-dogovor-client-fiz', clientFizId]">
                <p-button icon="pi pi-plus"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Номер договора</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-clientFizDogovor>
            <tr [routerLink]="['/show-dogovor-client-fiz', clientFizDogovor._id]">
                <td>{{clientFizDogovor.dogovor_number}}</td>
                <td>{{clientFizDogovor.date_start}}</td>
                <td>{{clientFizDogovor.date_end}}</td>
                <td *ngIf="clientFizDogovor.state === 'active'">Активный</td>
                <td *ngIf="clientFizDogovor.state !== 'active'">Истек</td>
                <td style="cursor: pointer; text-align: center;" (click)="onDeleteClientFizDogovor($event, clientFizDogovor)"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="clientFizListDogovors.length === 0" class="noMoreClientFizListDogovors">
        <h2>Нет договоров...</h2>
    </div>

    <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreClientFizListDogovors | async)" (click)="loadmore()"></p-button>
    </div>
</div>