<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector$ | async"></loader>





<div class="show-settings-global">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="global_setting_list">
            <div class="global_setting_list__box">
                <fieldset>
                    <label htmlFor="firma">Организация <span style="color:red;">*</span></label>
                    <select id="firma" formControlName="firma">
                        <option value="" disabled>Выбрать ↷</option>
                        <option value="{{this.firma_list[0]}}">{{this.firma_list[0]}}</option>
                        <option value="{{this.firma_list[1]}}">{{this.firma_list[1]}}</option>
                    </select>
                </fieldset>
            </div>
        </div>

        <div class="global_setting_rekviziti">
            <fieldset>
                <label htmlFor="firma">Реквизиты организаций ООО "ВВС-ВЕБ" <span style="color:red;">*</span></label>
                    <textarea
                    id="rekviziti_firma_1"
                    placeholder="Введите реквизиты организации ООО 'ВВС-ВЕБ'"
                    formControlName="rekviziti_firma_1"
                    rows="12"
                    class="form-control"
                ></textarea>
            </fieldset>

            <fieldset>
                <label htmlFor="firma">Реквизиты организаций ООО "ЕВС" <span style="color:red;">*</span></label>
                    <textarea
                    id="rekviziti_firma_1"
                    placeholder="Введите реквизиты организации ООО 'ЕВС'"
                    formControlName="rekviziti_firma_2"
                    rows="12"
                    class="form-control"
                ></textarea>
            </fieldset>
        </div>

        <button type="submit" class="submit" [disabled]="form.invalid || !edit"><i class="pi pi-check"></i> Сохранить</button>
    </form>

    <div class="edit" (click)="initEdit()" [ngClass]="{edit_active: edit}">
        <p-button icon="pi pi-pencil" styleClass="p-button-sm"></p-button>
    </div>
</div>