<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<div class="actsList" *ngIf="actsList">
    <p-table [value]="actsList" styleClass="p-datatable-gridlines list_table" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Номер акта</th>
                <th>Дата создания</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-act>
            <tr [routerLink]="['/show-act-booking', act.bookingId]">
                <td>{{act.act_number}}</td>
                <td>{{act.date | date : 'dd.MM.yyyy HH:mm'}}</td>
            </tr>
        </ng-template>
    </p-table>


    <div *ngIf="actsList.length === 0" class="noMoreClientsFizList">
        <h2>Нет актов для клиента...</h2>
    </div>

</div>