<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector$ | async"></loader>



<div class="add-booking" >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="add_booking_content">
            <div class="group_1">

                <fieldset>
                    <label htmlFor="booking_end">Выберите дату</label>
                    <input type="datetime-local" pInputText id="booking_end" formControlName="booking_end"  min="{{this.minDateBooking}}"
                        placeholder="Введите значение"
                        [ngClass]="{'ng-invalid ng-dirty': form.controls['booking_end'].invalid && form.controls['booking_end'].touched}"
                        (change)="checkedEndBookingDate($event)" />


                    <div class="errorValidate"
                        *ngIf="form.controls['booking_end'].invalid && form.controls['booking_end'].touched">
                        <p
                            *ngIf="form.controls['booking_end'].errors && form.controls['booking_end'].errors['required']">
                            Поле не должно быть пустым
                        </p>
                    </div>
                </fieldset>

                <fieldset>
                    <label htmlFor="tarif">Тариф</label>
                    <select id="tarif" formControlName="tarif"
                        [ngClass]="{'invalid': form.controls['tarif'].invalid && form.controls['tarif'].touched}"
                        (ngModelChange)="checkedTarif($event)">
                        <option value="" disabled selected>Выбрать ↷</option>
                        <option value="Город">Город</option>
                        <option value="Межгород">Межгород</option>
                        <option value="Россия">Россия</option>
                        <option value="Смешанный">Смешанный</option>
                    </select>


                    <div class="errorValidate" *ngIf="form.controls['tarif'].invalid && form.controls['tarif'].touched">
                        <p *ngIf="form.controls['tarif'].errors && form.controls['tarif'].errors['required']">
                            Заполните поле
                        </p>
                    </div>
                </fieldset>

                <fieldset *ngIf="this.booking.custome_zalog">
                    <label htmlFor="om">Залог</label>
                    <div style="display: flex; height: 43px; margin-top: 15px;">
                        <!-- <p-checkbox formControlName="custome_zalog" (click)="customeZalogCheck()" value="true"
                                            inputId="custome_zalog"></p-checkbox> -->
                
                        <input *ngIf="this.booking.custome_zalog" type="text" placeholder="Введите сумму"
                            formControlName="custome_zalog_value" id="custome_zalog_value" style="
                                                          display: inline-block; margin-top: 0;" (change)="customeZalogValue($event)">
                    </div>
                </fieldset>

            
                <fieldset *ngIf="this.form.value.tarif === 'Смешанный'" style="width: 84%;">
                    <div class="mixed_tarif">
                        <div class="checkboxs_row" style="display: flex;">
                            <div>
                                <label style="margin-bottom: 0;">
                                    <div style="margin-bottom: 7px; font-size: 11px;">Город</div>
                                </label>
                
                                <label>
                                    <input type="number" placeholder="..." formControlName="tarif_mixed_gorod_days" style="width: 90px;"
                                        (ngModelChange)="tarifMixedGorodDays($event)">
                                </label>
                            </div>
                
                
                            <div>
                                <label>
                                    <div style="margin-bottom: 7px; font-size: 11px;">Межгород</div>
                                </label>
                
                                <label>
                                    <input type="number" placeholder="..." formControlName="tarif_mixed_mezjgorod_days"
                                        style="width: 90px;" (ngModelChange)="tarifMixedMejgorodDays($event)">
                                </label>
                            </div>
                
                
                            <div>
                                <label>
                                    <div style="margin-bottom: 7px; font-size: 11px;"> Россия</div>
                                </label>
                
                                <label>
                                    <input type="number" placeholder="..." formControlName="tarif_mixed_russia_days"
                                        style="width: 90px;" (ngModelChange)="tarifMixedRussiaDays($event)">
                                </label>
                            </div>
                        </div>
                
                        <div *ngIf="errorValidTarifMixedDays" class="errorValidTarifMixedDays">
                            Кол-во дней выбранных тарифов превышает общее кол-во дней брони
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="calc">
                <h4>Рассчеты</h4>
                <div style="margin-bottom: 30px;">
                    <div>
                        <span>Дни продления брони:</span>
                        <span class="booking_info_element">
                            {{this.booking.tarif[0].booking_days + this.booking.tarif[1].booking_days +
                            this.booking.tarif[2].booking_days}} д
                        </span>
                    </div>
            
            
                    <div>
                        <span>Цена продления:</span>
                        <span class="booking_info_element">
                            {{this.booking.arenda - this.form.value.sale}} руб
                        </span>
                    </div>

                    <div>
                        <span>Скидка:</span>
                        <span class="booking_info_element">
                            {{this.form.value.sale}} руб
                        </span>
                    </div>

                    <div>
                        <span>Залог в кассе:</span>
                        <span class="booking_info_element">
                            {{this.currentBooking?.zalog}} руб
                        </span>
                    </div>


                    <div>
                        <span>Залог по тарифу:</span>
                        <span class="booking_info_element">
                            {{this.booking.zalog}} руб
                        </span>
                    </div>
            
                    <!-- <div *ngIf="this.booking.car !== null">
                        <span>Автомобиль:</span>
                        <span class="booking_info_element">
                            {{this.booking.car.marka}} {{this.booking.car.model}}({{this.booking.car.number}})
                        </span>
                    </div> -->
            
                    <div *ngIf="this.booking.tarifCheked !== ''">
                        <span>Тариф:</span>
                        <span class="booking_info_element">
                            {{this.booking.tarifCheked}}
                        </span>
                    </div>
            
                    <div *ngIf="this.booking.tarifCheked !== ''">
                        <span>Цена тарифа(за 1д):</span>
                        <span *ngIf="this.booking.tarifCheked ==='Город'" class="booking_info_element">
                            {{this.booking.tarif[0].tarif_price}} руб
                        </span>
                        <span *ngIf="this.booking.tarifCheked ==='Межгород'" class="booking_info_element">
                            {{this.booking.tarif[1].tarif_price}} руб
                        </span>
                        <span *ngIf="this.booking.tarifCheked ==='Россия'" class="booking_info_element">
                            {{this.booking.tarif[2].tarif_price}} руб
                        </span>
                        <span *ngIf="this.booking.tarifCheked ==='Смешанный'" class="booking_info_element">
                            Гор - {{this.booking.tarif[0].tarif_price}} р, Меж - {{this.booking.tarif[1].tarif_price}} р, Рос -
                            {{this.booking.tarif[2].tarif_price}} р,
                        </span>
                    </div>
            
                    <div *ngIf="this.booking.tarifCheked !== '' && this.booking.tarifCheked  !== 'Смешанный'">
                        <span>Доп.часы:</span>
                        <span class="booking_info_element">
                            {{this.booking.tarif[0].dop_hours + this.booking.tarif[1].dop_hours + this.booking.tarif[2].dop_hours}}
                        </span>
                    </div>
            
                    <div
                        *ngIf="this.booking.tarif[0].dop_hours > 0 || this.booking.tarif[1].dop_hours > 0 && this.booking.tarif[2].dop_hours > 0">
                        <span>Цена за доп.час(1ч):</span>
                        <span *ngIf="this.booking.tarifCheked ==='Город'" class="booking_info_element">
                            {{this.booking.tarif[0].dop_hours_price}} руб
                        </span>
                        <span *ngIf="this.booking.tarifCheked ==='Межгород'" class="booking_info_element">
                            {{this.booking.tarif[1].dop_hours_price}} руб
                        </span>
                        <span *ngIf="this.booking.tarifCheked ==='Россия'" class="booking_info_element">
                            {{this.booking.tarif[2].dop_hours_price}} руб
                        </span>
                        <span *ngIf="this.booking.tarifCheked ==='Смешанный'" class="booking_info_element">
                            0
                        </span>
                    </div>

            
                    <div>
                        <span style="text-transform: uppercase; font-weight: 600; margin-top: 30px; display: inline-block;">К оплате:</span>
                        <span class="booking_info_element_summ">
                            {{this.form.value.pay}} руб
                        </span>
                    </div>


                </div>
            </div>
        </div>

        <div>
            <fieldset>
                <label htmlFor="pay">Оплата</label>
                <div style="display: flex; height: 43px; margin-top: 15px;">
                    <input type="text" placeholder="Введите сумму" formControlName="pay" id="pay"
                        style="display: inline-block; margin-top: 0;">
                </div>
            </fieldset>

            <fieldset>
                <label htmlFor="sale">Скидка</label>
                <input pInputText id="sale" formControlName="sale" placeholder="Введите скидку"  (ngModelChange)="checkedSale($event)"/>
            </fieldset>

            <fieldset>
                <label htmlFor="typePayArenda">Тип оплаты</label>
                <select formControlName="typePayArenda" id="typePayArenda" (ngModelChange)="checkedTypeExtend($event)"
                    style="width: 150px;">
                    <option value="Наличные">Наличные</option>
                    <option value="Терминал">Терминал</option>
                    <option value="На карту">На карту</option>
                    <option value="р/с">р/с</option>
                </select>
            </fieldset>
        </div>

        <button type="submit" class="submit" [disabled]="form.invalid"><i class="pi pi-check"></i> Продлить</button>
    </form>
</div>