<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector$ | async"></loader>


<form [formGroup]="form" (ngSubmit)="createAct()">
    <div class="add-act-booking" #content *ngIf="currentBooking && currentClient && currentCar && currentUser">

        <div class="xs_block_1">
            <table>
                <tr>
                    <td style=" text-align: center; font-weight: 600;">
                        АКТ приема/передачи транспортного<br> средства без экипажа   
                    </td>

                    <td style="text-align: right;">
                        Приложение №1 к Договору проката транспортного<br> 
                        средства без экипажа<br> 
                        № {{this.actualDogovorForClientBooking.dogovor_number}} от {{this.actualDogovorForClientBooking.date_start}}<br>
                        г. Тюмень
                    </td>
                </tr>
            </table>

            <div *ngIf="currentBooking.client.type === 'fiz'" class="xs_table_div">
                <div *ngIf="this.masterPriem.name == ''">
                    Настоящий акт составлен в двух экземплярах, по одному для каждой стороны, при передаче автомобиля по договору проката 
                    между: <strong>ООО «ВВС-ВЕБ»</strong>
                     в лице Уполномоченного {{this.currentUser.secondName}} {{this.currentUser.name}} {{this.currentUser.lastName}} по Доверенности №{{this.currentUser.doverenostNumber}} от {{this.currentUser.doverenostDate | date : 'dd.MM.yyyy'}} г, 
                    далее <strong>«Арендодатель»</strong>, и гражданин(ка) РФ, <strong>{{this.currentClient.surname}} {{this.currentClient.name}} {{this.currentClient.lastname}} ,тел:{{this.currentClient.phone_1}}</strong> , далее «Арендатор».
                </div>
                <div *ngIf="this.masterPriem.name != ''">
                    Настоящий акт составлен в двух экземплярах, по одному для каждой стороны, при передаче автомобиля по договору проката 
                    между: <strong>ООО «ВВС-ВЕБ»</strong>
                     в лице Уполномоченного {{this.masterPriem.surname}} {{this.masterPriem.name}} {{this.masterPriem.lastname}} по Доверенности №{{this.masterPriem.doverenostNumber}} от {{this.masterPriem.doverenostDate | date : 'dd.MM.yyyy'}} г, 
                    далее <strong>«Арендодатель»</strong>, и гражданин(ка) РФ, <strong>{{this.currentClient.surname}} {{this.currentClient.name}} {{this.currentClient.lastname}} ,тел:{{this.currentClient.phone_1}}</strong> , далее «Арендатор».
                </div>
            </div>
    
    
            <div *ngIf="currentBooking.client.type === 'law'">
                <div *ngIf="this.masterPriem.name == ''">
                    Настоящий акт составлен в двух экземплярах, по одному для каждой стороны, при передаче автомобиля по договору проката 
                    между: <strong>ООО «ВВС-ВЕБ»</strong>
                     в лице Уполномоченного {{this.currentUser.secondName}} {{this.currentUser.name}} {{this.currentUser.lastName}} по Доверенности №{{this.currentUser.doverenostNumber}} от {{this.currentUser.doverenostDate | date : 'dd.MM.yyyy'}} г, 
                    далее <strong>«Арендодатель»</strong>, <strong>{{this.currentClient.short_name}} {{this.currentClient.name}} в лице {{this.currentClient.boss_role}}а {{this.currentClient.boss_surname}} {{this.currentClient.boss_name}}
                    {{this.currentClient.boss_lastname}} ,тел:{{this.currentClient.phone_1}}</strong> , далее «Арендатор».
                </div>
                <div *ngIf="this.masterPriem.name != ''">
                    Настоящий акт составлен в двух экземплярах, по одному для каждой стороны, при передаче автомобиля по договору проката 
                    между: <strong>ООО «ВВС-ВЕБ»</strong>
                     в лице Уполномоченного {{this.masterPriem.surname}} {{this.masterPriem.name}} {{this.masterPriem.lastname}} по Доверенности №{{this.masterPriem.doverenostNumber}} от {{this.masterPriem.doverenostDate | date : 'dd.MM.yyyy'}} г, 
                    далее <strong>«Арендодатель»</strong>, <strong>{{this.currentClient.short_name}} {{this.currentClient.name}} в лице {{this.currentClient.boss_role}}а {{this.currentClient.boss_surname}} {{this.currentClient.boss_name}}
                    {{this.currentClient.boss_lastname}} ,тел:{{this.currentClient.phone_1}}</strong> , далее «Арендатор».
                </div>
            </div>
        </div>



        <div class="xs_block_2">
            <div class="xs_table_div" style="text-align: center;">
                <strong>АВТОМОБИЛЬ</strong>
            </div>

            <table>
                <tr>
                    <td>
                        <strong>Марка/Модель: </strong>
                        {{currentCar.marka}} {{currentCar.model}}
                    </td>
                    <td>
                        <strong>VIN</strong>
                        <strong>: </strong>
                        {{currentCar.vin}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong>Цвет: </strong>
                        {{currentCar.color}}
                    </td>
                    <td>
                        <strong>Год выпуска: </strong>
                        {{currentCar.year_production}} г
                    </td>
                </tr>


                <tr>
                    <td>
                        <strong>Свидетельство: </strong>
                        {{currentCar.sts_seria}} № {{currentCar.sts_number}} от
                        {{currentCar.sts_date | date : 'dd.MM.yyyy'}}
                    </td>
                    <td>
                        <strong>Стоимость ТС: </strong> - 
                        <u>{{currentCar.price_ocenka}} руб ({{price_ocenka}}) рублей.</u>
                    </td>
                </tr>


                <tr>
                    <td >
                        <strong>Гос. Номер: </strong>
                        {{currentCar.number}}
                    </td>
                    <td >
                        <strong>Номер кузова: </strong>
                        {{currentCar.kuzov_number}}
                    </td>
                </tr>


                <tr>
                    <td>
                        <strong>Трансмиссия: </strong>
                        {{currentCar.transmission}}
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>


        <div class="xs_block_3">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Тарифы и стоимость доп. услуг</strong>
            </div>

            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong>Город</strong></td>
                                <td><strong>Сумма</strong></td>
                            </tr>

                            <tr>
                                <td>
                                    <div *ngFor="let item of currentCar.tarif_gorod.slice(0, currentCar.tarif_gorod.length - 2); let i = index;">
                                        <span *ngIf="item[0] !== ''" style="margin-bottom: 3px; ">
                                            <input type="checkbox" style="width: 20px; height: 20px;">
                                            {{item[1]}} руб <strong>({{item[0]}} суток) </strong>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="currentBooking.additional_services[5].status">{{currentBooking.additional_services[5].price}} р</div>
                                    <div>{{currentBooking.place_start_price}} р.</div>
                                    <div>{{currentBooking.place_start_price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[0].status">{{currentBooking.additional_services[0].price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[1].status"> {{currentBooking.additional_services[1].price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[2].status">{{currentBooking.additional_services[2].price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[3].status"> {{currentBooking.additional_services[3].price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[4].status">{{currentBooking.additional_services[4].price}} р</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong style="margin-bottom: 10px; display: block;">Межгород</strong>
                                    <div *ngFor="let item of currentCar.tarif_mejgorod.slice(0, currentCar.tarif_mejgorod.length - 2); let i = index;">
                                        
                                        <span *ngIf="item[0] !== ''" style="margin-bottom: 3px;">
                                            <input type="checkbox" style="width: 20px; height: 20px;">
                                            {{item[1]}} руб <strong>({{item[0]}} суток) </strong>
                                        </span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>
                                    <strong style="margin-bottom: 10px; display: block;">Россия</strong>
                                    <div *ngFor="let item of currentCar.tarif_russia.slice(0, currentCar.tarif_russia.length - 2); let i = index;">
                                        <span *ngIf="item[0] !== ''" style="margin-bottom: 3px;">
                                            <input type="checkbox" style="width: 20px; height: 20px;">
                                            {{item[1]}} руб <strong>({{item[0]}} суток) </strong>
                                        </span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td><strong>Услуга</strong></td>
                                <td><strong>Фото автомобиля</strong></td>
                            </tr>

                            <tr>
                                <td>
                                    <div *ngIf="currentBooking.additional_services[5].status">Мойка</div>
                                    <div>Подача авто</div>
                                    <div>Прием авто</div>
                                    <div *ngIf="currentBooking.additional_services[0].status">Дет.сресло</div>
                                    <div *ngIf="currentBooking.additional_services[1].status">Бустер</div>
                                    <div *ngIf="currentBooking.additional_services[2].status">Видеорегистратор</div>
                                    <div *ngIf="currentBooking.additional_services[3].status">Антирадар</div>
                                    <div *ngIf="currentBooking.additional_services[4].status">З/У</div>
                                </td>

                                <td style="text-align: center;"><img src="{{this.currentCar.avatar}}" style="width: 240px;" alt="Изображение"></td>
                            </tr>

                            <tr style="height: 73px;">
                                <td>
                                    
                                </td>
                                <td></td>
                            </tr>

                            <tr style="height: 73px;">
                                <td>
                                    
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="xs_block_4">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Залоговый депозит</strong>
            </div>

            <table>
                <tr>
                    <td style="width: 30%;">
                        {{currentCar.tarif_gorod[10][1]}}
                    </td>
                    <td style="width: 30%;"> 
                        {{currentCar.tarif_mejgorod[10][1]}}
                    </td>
                    <td style="width: 30%;">
                        {{currentCar.tarif_russia[10][1]}}
                    </td>
                </tr>
            </table>

            <table>
                <tbody>
                    <tr>
                        <td >
                            * Почасовой прокат оплачивается по тарифу <strong><u>10%</u></strong> от суточной стоимости за каждый час после расчетного времени до <strong>20:00</strong>. После <strong>20:00</strong> оплата проката взимается за одни полные сутки.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="xs_block_5">
            <table>
                <tr>
                    <td>
                        <strong style="display: block; margin-bottom: 5px; text-align: center;">Арендодатель передал а Арендатор принял а/м</strong>
                        <table class="xs_block_5_t_1">
                            <tr>
                                <td>Дата и время передачи: </td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td style="width: 40%;">Состояние салона:  </td>
                                <td style="width: 30%;">Чистый</td>
                                <td style="width: 30%;">Грязный</td>
                            </tr>

                            <tr>
                                <td>Наличие иного запаха: </td>
                                <td>Имеется</td>
                                <td>Нет</td>
                            </tr>

                            <tr>
                                <td>Чистота кузова а/м: </td>
                                <td>Чистый</td>
                                <td>Грязный</td>
                            </tr>

                            <tr>
                                <td>Пробег одометра:  </td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Уровень топлива: </td>
                                <td>Полный бак</td>
                                <td>Нет (фото) </td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <strong style="display: block; margin-bottom: 5px; text-align: center;">Арендодатель принял а Арендатор передал а/м</strong>
                        <table class="xs_block_5_t_1">
                            <tr>
                                <td>Дата и время приема: </td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td style="width: 40%;">Состояние салона:  </td>
                                <td style="width: 30%;">Чистый</td>
                                <td style="width: 30%;">Грязный</td>
                            </tr>

                            <tr>
                                <td>Наличие иного запаха: </td>
                                <td>Имеется</td>
                                <td>Нет</td>
                            </tr>

                            <tr>
                                <td>Чистота кузова а/м: </td>
                                <td>Чистый</td>
                                <td>Грязный</td>
                            </tr>

                            <tr>
                                <td>Пробег одометра:  </td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Уровень топлива: </td>
                                <td>Полный бак</td>
                                <td>Нет (фото) </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="xs_block_6">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Лица допущенные к управлению а/м</strong>
            </div>

            <table class="xs_block_6_t">
                <thead>
                    <tr>
                        <td>№</td>
                        <td>ФИО</td>
                        <td>Серия и № вод.Уд</td>
                        <td>Кем выдано</td>
                        <td>Дата выдачи</td>
                        <td>Действительно до</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="xs_block_7">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Комплектация автомобиля</strong>
            </div>

            <table >
                <tr>
                    <td>
                        <table class="xs_block_7_t_1">
                            <thead>
                                <tr>
                                    <td>Наименование</td>
                                    <td >Кол-во</td>
                                    <td>Стоимость</td>
                                    <td>Наличие</td>
                                </tr>
                            </thead>
            
                            <tbody>
                                <tr>
                                    <td>Запасное колесо</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td>ДА</td>
                                </tr>
            
                                <tr>
                                    <td>Домкрат</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td>ДА</td>
                                </tr>
            
                                <tr>
                                    <td>Балонный ключ </td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td>ДА</td>
                                </tr>
            
                                <tr>
                                    <td>Щетка чистки кузова</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td>ДА</td>
                                </tr>
            
                                <tr>
                                    <td>Ключ зажигания (смарт)</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td>ДА</td>
                                </tr>
            
            
                                <tr>
                                    <td>Свидетельство ТС</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td>ДА</td>
                                </tr>
            
                                <tr>
                                    <td>Салонный коврик</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td>ДА</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>



                    <td>
                        <table class="xs_block_7_t_1">
                            <thead>
                                <tr>
                                    <td>Наименование</td>
                                    <td >Кол-во</td>
                                    <td>Стоимость</td>
                                    <td>Наличие</td>
                                </tr>
                            </thead>
            
                            <tbody>
                                <tr>
                                    <td>Запасное колесо</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td></td>
                                </tr>
            
                                <tr>
                                    <td>Домкрат</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td></td>
                                </tr>
            
                                <tr>
                                    <td>Балонный ключ </td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td></td>
                                </tr>
            
                                <tr>
                                    <td>Щетка чистки кузова</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td></td>
                                </tr>
            
                                <tr>
                                    <td>Ключ зажигания (смарт)</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td></td>
                                </tr>
            
            
                                <tr>
                                    <td>Свидетельство ТС</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td></td>
                                </tr>
            
                                <tr>
                                    <td>Салонный коврик</td>
                                    <td>1</td>
                                    <td>5 000 рублей</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="xs_block_8">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Дополнительные примечания по автомобилю</strong>
            </div>

            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <div class="xs_table_div" style="text-align: center;">
                <strong>Выявленные замечания согласованы и зафиксированы на фото/видео камеру в присутствии обеих сторон</strong>
            </div>

            <div class="xs_table_div" style="text-align: center;">
                <strong>
                    В случае возврата автомобиля не прошедшего предварительную мойку, Арендодатель вправе предъявить требования о возмещении ущерба Арендатору в течение 48
                    часов при наличии скрытых повреждений лакокрасочного покрытия автомобиля, загрязнения салона, неисправности агр
                </strong>
            </div>
        </div>


        <div class="xs_block_9">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Подписи сторон</strong>
            </div>

            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Арендодатель а/м передал:<br><small style="font-size: 12px;">Подпись, печать (при наличии)</small></td>
                                <td><br> <small style="font-size: 12px;"></small></td>
                            </tr>

                            <tr>
                                <td>Арендатор а/м принял:<br><small style="font-size: 12px;">Подпись, печать (при наличии)</small></td>
                                <td><br> <small style="font-size: 12px;"></small></td>
                            </tr>
                        </table>
                    </td>


                    <td>
                        <table>
                            <tr>
                                <td>Арендодатель а/м принял:<br><small style="font-size: 12px;">Подпись, печать (при наличии)</small></td>
                                <td><br> <small style="font-size: 12px;"></small></td>
                            </tr>

                            <tr>
                                <td>Арендатор а/м передал:<br><small style="font-size: 12px;">Подпись, печать (при наличии)</small></td>
                                <td><br> <small style="font-size: 12px;"></small></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


    </div>


    <div style="padding: 0 40px;">
        <button type="submit" class="submit" [disabled]="form.invalid" (click)="generatePdf(this.content,'Акт  для брони №' + this.currentBooking?.order + '.pdf')"><i
                class="pi pi-check"></i>Сохранить</button>
    </div>

</form>