<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector$ | async"></loader>


<form [formGroup]="form" (ngSubmit)="createAct()">
    
    <div class="add-act-booking" #content *ngIf="currentBooking && currentClient && currentCar && currentUser">

        <div class="xs_block_1" style="padding: 10px 40px 0 40px; font-size: 15px !important;"> 
            <table style="width: 100%;">
                <tr>
                    <td style=" text-align: center; font-weight: 600; border: 1px solid #000; padding: 5px; font-size: 18px;">
                        АКТ приема/передачи транспортного<br> средства без экипажа   
                    </td>

                    <td style="text-align: right; border: 1px solid #000; padding: 5px; font-size: 18px;">
                        Приложение №1 к Договору проката транспортного<br> 
                        средства без экипажа<br> 
                        № {{this.actualDogovorForClientBooking.dogovor_number}} от {{this.actualDogovorForClientBooking.date_start}}<br>
                        г. Тюмень
                    </td>
                </tr>
            </table>

            <div *ngIf="currentBooking.client.type === 'fiz'" class="xs_table_div" style="font-size: 15px;">
                <div *ngIf="this.masterPriem.name == ''" style="font-size: 15px;">
                    Настоящий акт составлен в двух экземплярах, по одному для каждой стороны, при передаче автомобиля по договору проката 
                    между: <strong>ООО «ЕВС»</strong>
                     в лице Уполномоченного {{this.currentUser.secondName}} {{this.currentUser.name}} {{this.currentUser.lastName}} по Доверенности №{{this.currentUser.doverenostNumber}} от {{this.currentUser.doverenostDate | date : 'dd.MM.yyyy'}} г, 
                    далее <strong>«Арендодатель»</strong>, и гражданин(ка) РФ, <strong>{{this.currentClient.surname}} {{this.currentClient.name}} {{this.currentClient.lastname}} ,тел:{{this.currentClient.phone_1}}</strong> , далее «Арендатор».
                </div>
                <div *ngIf="this.masterPriem.name != ''" style="font-size: 15px;">
                    Настоящий акт составлен в двух экземплярах, по одному для каждой стороны, при передаче автомобиля по договору проката 
                    между: <strong>ООО «ЕВС»</strong>
                     в лице Уполномоченного {{this.masterPriem.surname}} {{this.masterPriem.name}} {{this.masterPriem.lastname}} по Доверенности №{{this.masterPriem.doverenostNumber}} от {{this.masterPriem.doverenostDate | date : 'dd.MM.yyyy'}} г, 
                    далее <strong>«Арендодатель»</strong>, и гражданин(ка) РФ, <strong>{{this.currentClient.surname}} {{this.currentClient.name}} {{this.currentClient.lastname}} ,тел:{{this.currentClient.phone_1}}</strong> , далее «Арендатор».
                </div>
            </div>
    
    
            <div *ngIf="currentBooking.client.type === 'law'">
                <div *ngIf="this.masterPriem.name == ''">
                    Настоящий акт составлен в двух экземплярах, по одному для каждой стороны, при передаче автомобиля по договору проката 
                    между: <strong>ООО «ЕВС»</strong>
                     в лице Уполномоченного {{this.currentUser.secondName}} {{this.currentUser.name}} {{this.currentUser.lastName}} по Доверенности №{{this.currentUser.doverenostNumber}} от {{this.currentUser.doverenostDate | date : 'dd.MM.yyyy'}} г, 
                    далее <strong>«Арендодатель»</strong>, <strong>{{this.currentClient.short_name}} {{this.currentClient.name}} в лице {{this.currentClient.boss_role}}а {{this.currentClient.boss_surname}} {{this.currentClient.boss_name}}
                    {{this.currentClient.boss_lastname}} ,тел:{{this.currentClient.phone_1}}</strong> , далее «Арендатор».
                </div>
                <div *ngIf="this.masterPriem.name != ''">
                    Настоящий акт составлен в двух экземплярах, по одному для каждой стороны, при передаче автомобиля по договору проката 
                    между: <strong>ООО «ЕВС»</strong>
                     в лице Уполномоченного {{this.masterPriem.surname}} {{this.masterPriem.name}} {{this.masterPriem.lastname}} по Доверенности №{{this.masterPriem.doverenostNumber}} от {{this.masterPriem.doverenostDate | date : 'dd.MM.yyyy'}} г, 
                    далее <strong>«Арендодатель»</strong>, <strong>{{this.currentClient.short_name}} {{this.currentClient.name}} в лице {{this.currentClient.boss_role}}а {{this.currentClient.boss_surname}} {{this.currentClient.boss_name}}
                    {{this.currentClient.boss_lastname}} ,тел:{{this.currentClient.phone_1}}</strong> , далее «Арендатор».
                </div>
            </div>
        </div>



        <div class="xs_block_2" style="padding: 0px 40px;">
            <div class="xs_table_div" style="text-align: center;">
                <strong>АВТОМОБИЛЬ</strong>
            </div>

            <table style="width: 100%;">
                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong>Марка/Модель: </strong>
                        {{currentCar.marka}} {{currentCar.model}}
                    </td>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong>VIN</strong>
                        <strong>: </strong>
                        {{currentCar.vin}}
                    </td>
                </tr>

                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong>Цвет: </strong>
                        {{currentCar.color}}
                    </td>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong>Год выпуска: </strong>
                        {{currentCar.year_production}} г
                    </td>
                </tr>


                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong>Свидетельство: </strong>
                        {{currentCar.sts_seria}} № {{currentCar.sts_number}} от
                        {{currentCar.sts_date | date : 'dd.MM.yyyy'}}
                    </td>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong>Стоимость ТС: </strong> - 
                        <u>{{currentCar.price_ocenka}} руб ({{price_ocenka}}) руб.</u>
                    </td>
                </tr>


                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong>Гос. Номер: </strong>
                        {{currentCar.number}}
                    </td>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong>Номер кузова: </strong>
                        {{currentCar.kuzov_number}}
                    </td>
                </tr>


                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong>Трансмиссия: </strong>
                        {{currentCar.transmission}}
                    </td>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                </tr>
            </table>
        </div>


        <div class="xs_block_3" style="padding: 0px 40px;">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Тарифы и стоимость доп. услуг</strong>
            </div>

            <table style="width: 100%;">
                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <table style="width: 100%;">
                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                                    <div style="display: flex;"><strong class="tarif_name">Город</strong><small>(Удаленность от города до 100 км)</small></div>
                                </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"><strong>Сумма</strong></td>
                            </tr>

                            <tr class="xs_table_block_height">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                                    <div *ngFor="let item of currentCar.tarif_gorod.slice(0, currentCar.tarif_gorod.length - 2); let i = index;" class="xs_tarif_gorod">
                                        <span *ngIf="item[0] !== ''">
                                            <input type="checkbox" style="width: 16px; height: 16px; margin-left: auto; ">
                                            {{item[1]}} руб <strong style="margin-left: 15px;">({{item[0]}} суток) </strong>
                                        </span>
                                    </div>
                                </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                                    <!-- <div *ngIf="currentBooking.additional_services[5].status"  class="xs_summa_item"><input type="checkbox" style="width: 18px; height: 18px; margin-right: 5px;"> {{currentBooking.additional_services[5].price}} р</div> -->
                                    <div class="xs_summa_item"><input type="checkbox" style="width: 18px; height: 18px; margin-right: 5px;"> {{currentBooking.additional_services[5].price}} р</div>
                                    <div class="xs_summa_item"><input type="checkbox" style="width: 18px; height: 18px; margin-right: 5px;" > {{currentBooking.place_start_price}} р.</div>
                                    <div class="xs_summa_item"><input type="checkbox" style="width: 18px; height: 18px; margin-right: 5px;"> {{currentBooking.place_start_price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[0].status"  class="xs_summa_item"><input type="checkbox" style="width: 18px; height: 18px; margin-right: 5px;"> {{currentBooking.additional_services[0].price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[1].status"  class="xs_summa_item"><input type="checkbox" style="width: 18px; height: 18px; margin-right: 5px;"> {{currentBooking.additional_services[1].price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[2].status"  class="xs_summa_item"><input type="checkbox" style="width: 18px; height: 18px; margin-right: 5px;"> {{currentBooking.additional_services[2].price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[3].status"  class="xs_summa_item"><input type="checkbox" style="width: 18px; height: 18px; margin-right: 5px;"> {{currentBooking.additional_services[3].price}} р</div>
                                    <div *ngIf="currentBooking.additional_services[4].status"  class="xs_summa_item"><input type="checkbox" style="width: 18px; height: 18px; margin-right: 5px;"> {{currentBooking.additional_services[4].price}} р</div>
                                </td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                                    <div style="display: flex;"><strong class="tarif_name">Межгород</strong><small>(Удаленность от города до 400 км)</small></div>
                                    
                                    <div *ngFor="let item of currentCar.tarif_mejgorod.slice(0, currentCar.tarif_mejgorod.length - 2); let i = index;">
                                        
                                        <span *ngIf="item[0] !== ''">
                                            <input type="checkbox" style="width: 16px; height: 16px; margin-left: auto; ">
                                            {{item[1]}} руб <strong style="margin-left: 15px;">({{item[0]}} суток) </strong>
                                        </span>
                                    </div>
                                </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                                    <div style="display: flex;"><strong class="tarif_name">Россия</strong><small>(Удаленность от города по согласованию)</small></div>
                                    <div *ngFor="let item of currentCar.tarif_russia.slice(0, currentCar.tarif_russia.length - 2); let i = index;">
                                        <span *ngIf="item[0] !== ''">
                                            <input type="checkbox" style="width: 16px; height: 16px; margin-left: auto; ">
                                            {{item[1]}} руб <strong style="margin-left: 15px;">({{item[0]}} суток) </strong>
                                        </span>
                                    </div>
                                </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                            </tr>
                        </table>
                    </td>

                    <td style="display: flex; justify-content: space-between; width: 100%; border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <table style="width: 100%;">
                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; height: 41.8px;"><strong>Услуга</strong></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; height: 41.8px;"><strong>Фото автомобиля</strong></td>
                            </tr>

                            <tr class="xs_table_block_height">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                                    <!-- <div *ngIf="currentBooking.additional_services[5].status" class="xs_usluga_item">Мойка</div> -->
                                    <div class="xs_usluga_item">Мойка</div>
                                    <div class="xs_usluga_item">Подача авто</div>
                                    <div class="xs_usluga_item">Прием авто</div>
                                    <div *ngIf="currentBooking.additional_services[0].status" class="xs_usluga_item">Дет.сресло</div>
                                    <div *ngIf="currentBooking.additional_services[1].status" class="xs_usluga_item">Бустер</div>
                                    <div *ngIf="currentBooking.additional_services[2].status" class="xs_usluga_item">Видеорегистратор</div>
                                    <div *ngIf="currentBooking.additional_services[3].status" class="xs_usluga_item">Антирадар</div>
                                    <div *ngIf="currentBooking.additional_services[4].status" class="xs_usluga_item" style="margin-bottom: 5px;">З/У</div>
                                </td>

                                <td  style="text-align: center; border: 1px solid #000; padding: 5px; font-size: 18px;"><img src="{{this.currentCar.avatar}}" style="width: 240px; max-height: 200px;" alt="Изображение"></td>
                            </tr>

                            <tr class="xs_empty_tr" style="height: 90px !important;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                                    
                                </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                            </tr>

                            <tr class="xs_empty_tr" style="height: 90px !important;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                                    
                                </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="xs_block_4" style="padding: 0px 40px;">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Залоговый депозит</strong>
            </div>

            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;  border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <input type="checkbox" style="width: 16px; height: 16px; margin-left: auto; ">
                        {{currentCar.tarif_gorod[10][1]}}
                    </td>
                    <td style="width: 30%;  border: 1px solid #000; padding: 5px; font-size: 18px;"> 
                        <input type="checkbox" style="width: 16px; height: 16px; margin-left: auto; ">
                        {{currentCar.tarif_mejgorod[10][1]}}
                    </td>
                    <td style="width: 30%;  border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <input type="checkbox" style="width: 16px; height: 16px; margin-left: auto; ">
                        {{currentCar.tarif_russia[10][1]}}
                    </td>
                </tr>
            </table>

            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 14px;">
                            * Почасовой прокат оплачивается по тарифу <strong><u>10%</u></strong> от суточной стоимости за каждый час после расчетного времени до <strong>20:00</strong>. После <strong>20:00</strong> оплата проката взимается за одни полные сутки.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="xs_block_5" style="padding: 0px 40px;">
            <table style="width: 100%;">
                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong style="display: block; margin-bottom: 5px; text-align: center;">Арендодатель передал а Арендатор принял а/м</strong>
                        <table class="xs_block_5_t_1" style="width: 100%;">
                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Дата и время передачи:</td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                            </tr>

                            <tr>
                                <td style="width: 40%; border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Состояние салона:  </td>
                                <td style="width: 30%; border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Чистый</td>
                                <td style="width: 30%; border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Грязный</td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Наличие иного запаха: </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Нет</td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Имеется</td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Чистота кузова а/м: </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Чистый</td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Грязный</td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Пробег одометра:  </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; border-right: 1px solid #fff;"></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; border-left: 1px solid #fff;"></td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Уровень топлива: </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; " class="xs_block_5_align_center">Полный бак</td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Нет (фото) </td>
                            </tr>
                        </table>
                    </td>

                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <strong style="display: block; margin-bottom: 5px; text-align: center;">Арендодатель принял а Арендатор передал а/м</strong>
                        <table class="xs_block_5_t_1" style="width: 100%;">
                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Дата и время приема: </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                            </tr>

                            <tr>
                                <td style="width: 40%; border: 1px solid #000; padding: 5px; font-size: 18px" class="xs_block_5_align">Состояние салона:  </td>
                                <td style="width: 30%; border: 1px solid #000; padding: 5px; font-size: 18px" class="xs_block_5_align_center">Чистый</td>
                                <td style="width: 30%; border: 1px solid #000; padding: 5px; font-size: 18px" class="xs_block_5_align_center">Грязный</td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Наличие иного запаха: </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Нет</td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Имеется</td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Чистота кузова а/м: </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Чистый</td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Грязный</td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Пробег одометра:  </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; border-right: 1px solid #fff;"></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; border-left: 1px solid #fff;"></td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align">Уровень топлива: </td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Полный бак</td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Нет (фото) </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="xs_block_6" style="padding: 0px 40px;">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Лица допущенные к управлению а/м</strong>
            </div>

            <table class="xs_block_6_t" style="width: 100%;">
                <thead>
                    <tr>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">№</td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">ФИО</td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">Серия и № вод.Уд</td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">Кем выдано</td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">Дата выдачи</td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">Действительно до</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                        <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="xs_block_7" style="padding: 0px 40px;">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Комплектация автомобиля</strong>
            </div>

            <table style="width: 100%;">
                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">
                        <table class="xs_block_7_t_1" style="width: 100%;">
                            <thead>
                                <tr>
                                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">Наименование</td>
                                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Кол-во</td>
                                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Стоимость</td>
                                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Наличие</td>
                                </tr>
                            </thead>
            
                            <tbody>

                                <ng-container *ngFor="let arr of this.currentCar.komplekt">
                                    <tr *ngIf="arr[0] !== ''">
                                      <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">{{ arr[0] }}</td>
                                      <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">{{ arr[4] }}</td>
                                      <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">{{ arr[1] }} руб</td>
                                      <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Да</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </td>


             
                    <td>
                        <table class="xs_block_7_t_1" style="width: 100%;">
                            <thead>
                                <tr>
                                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">Наименование</td>
                                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Кол-во</td>
                                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Стоимость</td>
                                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">Наличие</td>
                                </tr>
                            </thead>
            
                            <tbody>

                                <ng-container *ngFor="let arr of this.currentCar.komplekt">
                                    <tr *ngIf="arr[0] !== ''">
                                      <td style="border: 1px solid #000; padding: 5px; font-size: 18px;">{{ arr[0] }}</td>
                                      <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">{{ arr[4] }}</td>
                                      <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center">{{ arr[1] }} руб</td>
                                      <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center"></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="xs_block_8" style="padding: 0px 40px;">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Дополнительные примечания по автомобилю</strong>
            </div>

            <table style="width: 100%;">
                <tr style="height: 60px;">
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"></td>
                </tr>
             
            </table>

            <div class="xs_table_div" style="text-align: center;">
                <strong>Выявленные замечания согласованы и зафиксированы на фото/видео камеру в присутствии обеих сторон</strong>
            </div>

            <div class="xs_table_div"  style="font-size: 14px; text-align: center;">
                <strong style="text-align: center;">
                    В случае возврата автомобиля не прошедшего предварительную мойку, Арендодатель вправе предъявить требования о возмещении ущерба Арендатору в течение 48
                    часов при наличии скрытых повреждений лакокрасочного покрытия автомобиля, загрязнения салона, неисправности агрегатов,обнаруженных Арендодателем в процессе дополнительного осмотра с составлением
                    соответствующего акта.
                </strong>
            </div>
        </div>


        <div class="xs_block_9" style="padding: 0px 40px;" *ngIf="currentBooking.client.type === 'fiz'">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Подписи сторон</strong>
            </div>

            <table style="width: 100%;">
                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 50%; ">
                        <table style="width: 100%;">
                            <tr style="height: 100px;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 70%;"><strong>Арендодатель а/м передал:</strong><br><br><br>
                                <small style="font-size: 12px; margin-left: 54%;">Подпись, печать (при наличии)</small></td>

                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 30%;" class="xs_block_5_align_center"><br> 
                                    <span *ngIf="this.masterPriem.name == ''" class="xs_block_5_align_center">
                                        {{formatName(this.currentUser.secondName,this.currentUser.name,this.currentUser.lastName)}}
                                    </span>
                                    <span *ngIf="this.masterPriem.name != ''">
                                        {{formatName(this.masterPriem.surname, this.masterPriem.name,this.masterPriem.lastname)}}
                                    </span>

                                    <small style="font-size: 12px;"></small>
                                </td>
                            </tr>

                            <tr style="height: 100px;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" ><strong>Арендатор а/м принял:</strong> <br><br><br>
                                <small style="font-size: 12px; margin-left: 54%;">Подпись, печать (при наличии)</small></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center"><br> 
                                    {{formatName(this.currentClient.surname,this.currentClient.name,this.currentClient.lastname)}}
                                    <small style="font-size: 12px;"></small>
                                </td>
                            </tr>
                        </table>
                    </td>


                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 50%; height: 100px;">
                        <table style="width: 100%;">
                            <tr style="height: 100px;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 70%;"><strong>Арендодатель а/м принял:</strong> <br><br><br>
                                <small style="font-size: 12px; margin-left: 54%;">Подпись, печать (при наличии)</small></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 30%;" class="xs_block_5_align_center"><br> 
                                    <span *ngIf="this.masterPriem.name == ''">
                                        <!-- {{formatName(this.currentUser.secondName,this.currentUser.name,this.currentUser.lastName)}} -->
                                    </span>
                                    <span *ngIf="this.masterPriem.name != ''">
                                        <!-- {{formatName(this.masterPriem.surname, this.masterPriem.name,this.masterPriem.lastname)}} -->
                                    </span>
                                    <small style="font-size: 12px;"></small>
                                </td>
                            </tr>

                            <tr style="height: 100px;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"><strong>Арендатор а/м передал:</strong> <br><br><br>
                                <small style="font-size: 12px; margin-left: 54%;">Подпись, печать (при наличии)</small></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; " class="xs_block_5_align_center"><br> 
                                    {{formatName(this.currentClient.surname,this.currentClient.name,this.currentClient.lastname)}}
                                    <small style="font-size: 12px;"></small>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>







        <div class="xs_block_9" style="padding: 0px 40px;" *ngIf="currentBooking.client.type === 'law'">
            <div class="xs_table_div" style="text-align: center;">
                <strong>Подписи сторон</strong>
            </div>

            <table style="width: 100%;">
                <tr>
                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 50%; ">
                        <table style="width: 100%;">
                            <tr style="height: 95px;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 70%;"><strong>Арендодатель а/м передал:</strong><br><br><br>
                                <small style="font-size: 12px; margin-left: 54%;">Подпись, печать (при наличии)</small></td>

                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 30%;" class="xs_block_5_align_center"><br> 
                                    <span *ngIf="this.masterPriem.name == ''" class="xs_block_5_align_center">
                                        {{formatName(this.currentUser.secondName,this.currentUser.name,this.currentUser.lastName)}}
                                    </span>
                                    <span *ngIf="this.masterPriem.name != ''">
                                        {{formatName(this.masterPriem.surname, this.masterPriem.name,this.masterPriem.lastname)}}
                                    </span>
                                    
                                   
                                    <small style="font-size: 12px;"></small>
                                </td>
                            </tr>

                            <tr style="height: 95px;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" ><strong>Арендатор а/м принял:</strong> <br><br><br>
                                <small style="font-size: 12px; margin-left: 54%;">Подпись, печать (при наличии)</small></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;" class="xs_block_5_align_center"><br> 
                                    {{formatName(this.currentClient.boss_surname,this.currentClient.boss_name,this.currentClient.boss_lastname)}}
                                    <small style="font-size: 12px;"></small>
                                </td>
                            </tr>
                        </table>
                    </td>


                    <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 50%; height: 95px;">
                        <table style="width: 100%;">
                            <tr style="height: 95px;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 70%;"><strong>Арендодатель а/м принял:</strong> <br><br><br>
                                <small style="font-size: 12px; margin-left: 54%;">Подпись, печать (при наличии)</small></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; width: 30%;" class="xs_block_5_align_center"><br> 
                                    <span *ngIf="this.masterPriem.name == ''">
                                        {{formatName(this.currentUser.secondName,this.currentUser.name,this.currentUser.lastName)}}
                                    </span>
                                    <span *ngIf="this.masterPriem.name != ''">
                                        {{formatName(this.masterPriem.surname, this.masterPriem.name,this.masterPriem.lastname)}}
                                    </span>
                                    <small style="font-size: 12px;"></small>
                                </td>
                            </tr>

                            <tr style="height: 95px;">
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px;"><strong>Арендатор а/м передал:</strong> <br><br><br>
                                <small style="font-size: 12px; margin-left: 54%;">Подпись, печать (при наличии)</small></td>
                                <td style="border: 1px solid #000; padding: 5px; font-size: 18px; " class="xs_block_5_align_center"><br> 
                                    {{formatName(this.currentClient.boss_surname,this.currentClient.boss_name,this.currentClient.boss_lastname)}}
                                    <small style="font-size: 12px;"></small>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


    </div>


    <div style="padding: 0 40px;">
        <button type="submit" class="submit" [disabled]="form.invalid" (click)="generatePdf(this.content,'Акт  для брони №' + this.currentBooking?.order + '.pdf')"><i
                class="pi pi-check"></i>Сохранить</button>
    </div>

</form>


