<app-header-app-layout [title]="title"></app-header-app-layout>
<p-toast></p-toast>
<loader *ngIf="isLoadingSelector | async"></loader>


<div class="partners" *ngIf="mastersPriemList">
    <p-table [value]="mastersPriemList" styleClass="p-datatable-gridlines list_table" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="add_new" [routerLink]="['/add-master-priem']">
                <p-button icon="pi pi-plus"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-masterPriem>
            <tr [routerLink]="['/show-master-priem',masterPriem._id]">
                <td><strong>{{masterPriem.surname}} {{masterPriem.name}} {{masterPriem.lastname}}</strong></td>
                <td>{{masterPriem.phone}}</td>
                <td style="cursor: pointer; text-align: center;" (click)="onDeleteMasterPriem($event, masterPriem)"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="mastersPriemList.length === 0" class="noMoreMastersPriemList">
        <h2>Нет мастеров приемщиков...</h2>
    </div>

    <div class="btn">
        <p-button label="Загрузить еще..." *ngIf="!(noMoreMastersPriemList | async)" (click)="loadmore()"></p-button>
    </div>
</div>

